{% extends "main_template.html" %}

{% block signin %}
{% endblock %}
{% block content %}
    <div class="content">
        <form method="post" id="main_info" novalidate>
            {% csrf_token %}
            {% include 'includes/bootstrap4_form.html' with form=form %}
            <input name="type" class="d_none" value="main_info">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <hr>
        Настройки приватности (Добавить подсказки при наведении)
        <form method="post" id="settings" novalidate>
            {% csrf_token %}
            {% include 'includes/bootstrap4_form.html' with form=form_private %}
            <input name="type" class="d_none" value="settings">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        Хотите выйти из аккаунта?
        <a class="btn btn-primary" href="/accounts/logout/">logout</a>
    </div>
{% endblock %}