{% extends "main_template.html" %}

{% block signin %}
    empty
{% endblock %}
{% block content %}
    Полное имя {{ user.first_name }} {{ user.last_name }} <br>
    {{ user.email }} <br>
    {{ user.profile.birth_date }} <br>
    {{ user.profile.description }} <br>
    {{ user.profile.phone }} <br>
    {{ user.profile.sex }} <br>

    {% if user %}
        <button>Настройки</button>
    {% endif %}

    <div>
        <span>Список всех пользователей</span>
        <ul>
            {% for item in users %}
                <li data-user_id="{{ item.id }}" data-verb="add">
                    <a href="/profile/{{ item.id }}"> {{ item.first_name }}  {{ item.last_name }} </a>
                    <input class="add_to_friend" type="button" value="Подписаться">
                </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <span>Подписки</span>
        <ul>
            {% for item in friends %}
                <li data-user_id="{{ item.user.id }}" data-verb="remove">
                    <a href="/profile/{{ item.user.id }}"> {{ item.user.first_name }}  {{ item.user.last_name }} </a>
                    <input class="add_to_friend" type="button" value="Отписаться">
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}