{% extends "main_template.html" %}

{% block content %}
    <div class="content">
        # Блок прав доступа и прочего
        {% if roles.role == 'admin' or roles.role == 'editor' %}
            <a href="/groups/edit/{{ group.id }}">Редактировать</a>
        {% else %}
            {% if roles.role == 'subscribers' %}
                <button class="subscribe_group" data-action="add">Отписаться</button>
            {% else %}
                <button class="subscribe_group" data-action="remove">Пойти</button>
            {% endif %}
        {% endif %}

        <a href="/events/create?group_id={{ group.id }}">Создать событие</a>

        <div class="event_item" data-event_id="{{event.event.id}}" >
            Название: {{ group.name }} <br>
            Описание: {{ group.description }}
        </div>

        <div>
            <span data-url="/profile/get_followers?user={{ user.id }}"
                      class="all_followers">Подписчики {{ members|length }}</span>
            <ul>
                {% for item in members %}
                    <div>
                        <a href="/profile/{{ item.user.id }}">
                            <img src="{{ item.user.profileavatar.mini_url }}" class="avatar_round">
                        </a>
                        <a href="/profile/{{ item.user.id }}">
                            {{ item.user.first_name }}  {{ item.user.last_name }} {{ item.role }}
                        </a>
                        {% if account and account == user.user.id %}
                            <button class="add_to_friend" data-user_id="{{ item.user.id }}" data-action="remove">Отписаться</button>
                        {% endif %}
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="dialog_img" class="d_none"></div>
{% endblock %}