{% extends "main_template.html" %}

{% block content %}
    <div class="main_block">
        <form class="groups_filter">
            <input type="text" name="name" placeholder="Начните вводить" class="find_groups" >
            <input type="checkbox" name="all" class="all_groups">
        </form>
        <div class="content_paginator_groups" data-url="/groups/get_groups?id={{ user.id }}">
            <div class="infinite-container_groups">
            </div>
        </div>
    </div>

    <script>
        /**
         * Запрос на получение данных (изначальное)
         *
         */
        $(document).ready(function() {
            $.ajax({
                url: $('.content_paginator_groups').data('url'),
                async: false,
                success: function (data) {
                    $('.infinite-container_groups').append(data);
                    waypoints_init();
                }
            });
        });

        /**
         * Получение параметров фильтрации для POST запроса
         *
         */
        function get_filter(selector) {
            var unindexed_array = $('.'+selector).serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function(n, i){
                indexed_array[n['name']] = n['value'];
            });
            return indexed_array;
        }
        /**
         * Инициализация плагина инфинити скролла, что-то вроде дата тейбла
         *
         */
        function waypoints_init(filter) {
            var infinite_ = new Waypoint.Infinite({
                element: $('.infinite-container_groups')[0],
                more: '.infinite-more-link_groups',
                items: '.infinite-item_groups',
                reverse: false,
                post: true,
                filter: filter
            });
            return;
        }

        /**
         * Поиск группы по вводимому тексту
         *
         */
        $('.find_groups').on('input', function () {
            find_groups()
        });

        /**
         * Поиск группы (При нажатии чекбокса "Все")
         *
         */
        $('.all_groups').on('change', function () {
            find_groups()
        });

        function find_groups() {
            var url = $('.content_paginator_groups').data('url');
            $.ajax({
                url: url,
                type: 'POST',
                data: get_filter('groups_filter'),
                success: function (data) {
                    if (data) {
                        $('.infinite-container_groups').html(data);
                        waypoints_init(get_filter('groups_filter'));
                    } else {
                        // TODO заполнить error
                    }
                }
            });
        }

    </script>
{% endblock %}
