{% extends "main_template.html" %}
{% load staticfiles %}

{% block content %}
    <div class="main_block">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#panel1">Список групп</a></li>
            {% if is_my %}
                <li class="activate_panel2_groups"><a data-toggle="tab" href="#panel2">Приглашения и заявки</a></li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div id="panel1" class="tab-pane fade in active">
                <br>
                <form class="groups_filter">
                    <input type="text" name="name" placeholder="Начните вводить" class="find_groups" >
                    <label>Поиск по всем группам</label>
                    <input type="checkbox" name="all" class="all_groups">
                </form>
                <div class="content_paginator_groups" data-url="/groups/get_groups?id={{ user.id }}">
                    <div class="infinite-container_groups">
                    </div>
                </div>
            </div>
            {% if is_my %}
                <div id="panel2" class="tab-pane fade">
                    <div class="content_paginator_invite" data-url="/groups/get_invite?id={{ user.id }}">
                        <div class="infinite-container_invite">
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>

    <script>
        var type = 'all'
    </script>
    <script type="text/javascript" src="{% static 'js/group_events.js' %}"></script>
{% endblock %}
