{% extends "main_template.html" %}

{% block content %}
    <div class="main_bidy_content">
        <div class="main_scroll_block">
            <div class="load_events_container">
                <button class="load_events btn" style="border: 1px solid red;">НОВЫЕ СОБЫТИЯ (НЕ ПРОЕБИ)</button>
            </div>
            <div class="content_paginator_events"></div>
        </div>

        <div class="main_filter_block">
            <button class="btn btn-grey"><a href="/events/create">Создать событие</a></button>
            <form class="event_filter_block">
                <div class="margin-b-25">
                    <input type="text" name="name" placeholder="поиск" class="find_groups main_search_input width225_center" >
                </div>
                <div class="margin-b-25">
                    <select id="category" name="category" class="main_custom_select width225_center">
                        <option value="" selected>Категория</option>
                        {% for category in category_list %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="margin-b-25">
                    <div class="main_filter_city_block_btn width225_center toogler_arrow" data-toggle="collapse" data-target="#hide-me">
                        <span>Город</span>
                        <img src="../static/img/chevrondown.svg" class="open_accord_item d_none accord_item_img" alt="">
                        <img src="../static/img/chevronup.svg" class="close_accord_item  accord_item_img" alt="">
                    </div>
                    <div id="hide-me" class="collapse in hide_area_filter">
                        <div id="location" class="custom_select custom_select_city">
                            <input type="text" placeholder="поиск" class="find_city">
                            <div class="custom_select_items">
                                <span  class='select_item selected' data-city_id="{{ user_city.city_id }}">{{ user_city.city}}</span>
                                {% for city in city_list %}
                                    <span class="select_item" data-city_id="{{ city.city_id }}">{{ city.city}}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin-b-25">
                    <select id="date" class="main_custom_select width225_center">
                        <option value="0">Дата: За все время</option>
                        <option value="1">Сегодня</option>
                        <option value="2">Завтра</option>
                        <option value="3">На этой неделе</option>
                        <option value="4">В этом месяце</option>
                        <option value="5">В следующем месяце</option>
                        <option value="6">Выбрать дату</option>
                    </select>
                </div>
            </form>

            <button class="submit_event_filter grey_custom_btn">Найти</button>
        </div>
    </div>

    <script>
        find_events();

        function find_events() {
            let url = '/main_app/get_infinite_events';
            $.ajax({
                url: url,
                type: 'POST',
                data: get_event_filter('event_filter_block', ''),
                success: function (data) {
                    if (data) {
                        $('.content_paginator_events').html(data);
                        events_waypoints_init(get_event_filter('event_filter_block'));
                    } else {
                        // TODO заполнить error
                    }
                }
            });
        }

        /**
         * Получение выбранного в кастомном селекте
         *
         */
        function get_value_from_custom_select(parent_selector) {
            return parent_selector.find('.selected');
        }

        /**
         * Получение параметров фильтрации для POST запроса
         *
         */
        function get_event_filter(selector, last_update) {
            let unindexed_array = $('.'+selector).serializeArray(),
                indexed_array = {};

            unindexed_array.push({name: 'time_code', value: $('#date').val()});

            let location = get_value_from_custom_select($('#location'));
            unindexed_array.push({name: 'location', value: location.data('city_id')});

            if (last_update !== '') {
                unindexed_array.push({name: 'last_update', value: last_update});
            }
            $.map(unindexed_array, function(n, i){
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }

        $('.submit_event_filter').on('click', (e)=>{
            find_events();
        });

        /**
         * Инициализация плагина инфинити скролла, что-то вроде дата тейбла
         *
         */
        function events_waypoints_init(filter) {
            var infinite_ = new Waypoint.Infinite({
                element: $('.infinite-container', '.content_paginator_events')[0],
                more: '.infinite-more-link',
                items: '.event_item',
                reverse: false,
                post: true,
                filter: filter
            });
            return;
        }


        $(document).ready(function () {
            var waypoint = new Waypoint({
                element: $('.load_events', '.load_events_container'),
                handler: function(direction) {
                    let url = '/main_app/get_new_events_count/',
                        last_update = $('.event_item:first', '.infinite-container').data('last_update');
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: get_event_filter('event_filter_block', last_update),
                        success: function (data) {
                            if (data) {
                                $('.load_events', '.load_events_container').html('Новых событий (' + data + ')')
                            } else {
                                // TODO заполнить error
                            }
                        }
                    });
                },
                offset: '25%'
            });

            $('.toogler_arrow').on('click', function(){
                if($(this).hasClass('collapsed')){
                    $('.open_accord_item', $(this)).hide();
                    $('.close_accord_item', $(this)).show();
                }else{
                    $('.open_accord_item', $(this)).show();
                    $('.close_accord_item', $(this)).hide();
                }


            });

        });
    </script>



{% endblock %}