{% extends "main_template.html" %}
{% load staticfiles %}

{% block title %}Карта событий{% endblock %}

{% block content %}
    <style>

    </style>

    <div id="map" class="full_size_map" ></div>
    <script>
        var is_create = false,
            is_edit = false,
            is_view = false,
            event_map = true,
            city = '{{ user_city.city }}';

        var first_bounds = [];
    </script>

    <script type="text/javascript" src="{% static 'js/yamap.js' %}"></script>

    <form class="event_map_filter_block" >
        <div>
            <input type="text" name="name" placeholder="Название события" class="find_events" >
        </div>
        <div>
            <select id="category" name="category" class="z_index_selectize">
                <option value="all" selected>Категория</option>
                {% for category in category_list %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <div class="form-group ">
                <select id="select-state" name="select_city" class="select_city" placeholder="Начните вводить...">
                </select>
            </div>
        </div>
        <div>
            <select id="date">
                <option value="0">За все время</option>
                <option value="1">Сегодня</option>
                <option value="2">Завтра</option>
                <option value="3">На этой неделе</option>
                <option value="4">В этом месяце</option>
                <option value="5">В следующем месяце</option>
                <option value="6">Выбрать дату</option>
            </select>
        </div>
        <button type='button' class="submit_event_map_filter purple_custom_btn">Найти</button>
    </form>

    <script>
        $(function() {
            $('#date, #category').selectize();
        });

        var eventHandlerCity = function(name) {
            return function () {
                set_center_by_city_name($('.item', '.select_city').html());
                $('.submit_event_map_filter').click();
            }
        };

        $.ajax({
            url: '/cities_/get_cities?no_need_ip=false',
            type: 'GET',
            success: function (data) {
                if (data) {
                    $('#select-state').html(data).selectize({
                        onBlur       : eventHandlerCity('onItemAdd'),
                    });
                } else {
                    // TODO заполнить error
                }
            }
        });
    </script>
    <div class="event_card">
        <span class="">Выберите точку на карте для просмотра события</span>
    </div>

{% endblock %}