{% extends "main_template.html" %}
{% load staticfiles %}
{% load custom_filters %}

{% block title %}{{ cur_user.first_name }} {{ cur_user.last_name }}{% endblock %}
{% block description %}{{ cur_user.profile.description }}{% endblock %}

{% block content %}
    <div class="row main_content_block">
        <div class="profile_info_block">
            <div class="avatar_image">
                <div>
                    {% if user and user.id == cur_user.id %}
                        <img class="change_avatar" data-url="/profile/change_avatar" src="/static/img/editing.svg">
                    {% endif %}
                    <img class="profile_main_avatar" src="{{ avatar.reduced_url }}"
                         alt="{{ cur_user.first_name }} {{ cur_user.last_name }}">
                </div>
                {% if user and user.id != cur_user.id %}
                    <button class="purple_custom_btn_background_white mtop-mbot20 mlr_a add_to_friend" data-user_id="{{ cur_user.id }}" data-action="{{ friend_flag }}">
                        {% if friend_flag == 'add'%}
                            Подписаться
                        {% else %}
                            Отписаться
                        {% endif %}
                    </button>
                    {% if cur_user.usersettings.messages == '1'  %}
                        <button class="purple_custom_btn mtop-mbot20 mlr_a"><a href="/chats/?peer={{ cur_user.id }}">Отправить сообщение</a></button>
                    {% elif cur_user.usersettings.messages == '2' %}
                        {% if cur_user|is_my_subscriber:user %}
                            <button class="purple_custom_btn_background_white mtop-mbot20 mlr_a"><a href="/chats/?peer={{ cur_user.id }}">Отправить сообщение</a></button>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <div class="settings_link"><a href="edit">Редактировать профиль</a></div>
                    <button class="mtop-mbot20 mlr_a purple_custom_btn"><a href="/events/create/">Создать событие</a></button>
                {% endif %}
            </div>

            <div class="row">
                <div class="col-3 profile_left">
                    <div class="block_info">
                        <div class="name_block"><span class="name_text">{{ cur_user.first_name }} {{ cur_user.last_name }}</span>
                            <span class="online_time"></span>
                            <script>
                                SetTimeOnline("{{ is_online }}", ".name_block");
                            </script>
                        </div>
                        <div class="city_settings_block"><span class="city_text">г. {{ cur_user.profile.location_name }}</span>

                        </div>
                        <div class="subscrbers_groups_events fs16">
                            <span class="groups_count ta-l">
                                <a href="/groups/view?id={{ cur_user.id }}">
                                    <p class="header">Группы</p><p class="count">{{ groups_count }}</p>
                                </a>
                            </span>

                            <span data-url="/profile/get_subscribers?user={{ cur_user.id }}"
                                  class="subscribe_count ta-l all_subscribers">
                                <p class="header">Подписки</p>
                                <p class="count">{{ subscribers}}</p>
                            </span>
                            <span data-url="/profile/get_followers?user={{ cur_user.id }}"
                                  class="subscribe_count all_followers ta-l">
                                <p class="header">Подписчики</p><p class="count">{{ followers }}</p>
                            </span>
                            <span class="events_count ta-l"><p class="header">Встреч</p><p class="count">10</p></span >{#TODO вывод количества встреч#}
                        </div>

                        <div class="birthday_info right_info_cur_user_block mtop-35 ">
                            <p class="header mbot-20">Дата рождения:</p>
                            <p class="fs16">{{ cur_user.profile.birth_date }}</p>
                        </div>
                        <div style=" display: inline-flex;">
                            <div class="contact_info right_info_cur_user_block mtop-35">
                                <p class="header mbot-20">Контактные данные:</p>
                                <p class="fs16">{{ cur_user.profile.phone }}</p>
                                <p class="fs16">{{ cur_user.email }}</p>
                            </div>
                            <div class="contact_info_social right_info_cur_user_block mtop-35">
                                <p class="header mbot-20">Социальные сети:</p>
                                <p class="fs16">Вконтакте:
                                    <span class="underline_span"><a href="{{ cur_user.profile.vk }}">
                                        {% firstof cur_user.profile.vk '' %} </a>
                                    </span>
                                </p>
                                <p class="fs16">Твиттер:
                                    <span class="underline_span"><a href="{{ cur_user.profile.twitter }}">
                                        {% firstof cur_user.profile.twitter '' %}</a>
                                    </span>
                                </p>
                                <p class="fs16">Фейсбук:
                                    <span class="underline_span"><a href="{{ cur_user.profile.facebook }}">
                                        {% firstof cur_user.profile.facebook '' %}</a>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="about_info right_info_cur_user_block mtop-35">
                            <p class="header mbot-20">О себе:</p>
                            <p class="fs16">{{ cur_user.profile.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cur_user_events_block">

            <div class="cur_user_events_header">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#panel1">Активные</a></li>
                    <li class="activate_panel2_events"><a data-toggle="tab" href="#panel2">Мои</a></li>
                    <li class="activate_panel3_events"><a data-toggle="tab" href="#panel3">Завершенные</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="panel1" class="tab-pane fade in active">
                    <div class="content_paginator_active">
                    </div>
                </div>
                <div id="panel2" class="tab-pane fade">
                    <div class="content_paginator_user_events">
                    </div>
                </div>
                <div id="panel3" class="tab-pane fade">
                    <div class="content_paginator_ended">
                    </div>
                </div>
            </div>
        </div>

        <div id="dialog" class="d_none">
            <div class="content_paginator">
            </div>
        </div>
        <div id="dialog_img" class="d_none">
        </div>
    </div>
    <script>
        var id ={{ cur_user.id }}
    </script>
    <script type="text/javascript" src="{% static 'js/profile_events.js' %}"></script>
{% endblock %}