{% extends "main_template.html" %}

{% block title %}Редактирование профиля{% endblock %}

{% block content %}
    <div class="content_wrapper">
        <div class="create_page_title">
            Настройки профиля
        </div>

        <div class="create_content">
            <form method="post" id="main_info" novalidate>
                {% csrf_token %}
                {% include 'includes/bootstrap4_form.html' with form=form %}
                <input name="type" class="d_none" value="main_info">
                <div class="form-group ">
                    <select id="select-state" name="select_city" placeholder="Начните вводить...">
                    </select>
                </div>
                <span class="confirm_edit"><p></p></span>
                <button type="button" class="purple_custom_btn" id="edit_profile_form">Сохранить</button>
            </form>
        </div>

        <div class="create_page_title">
            Настройки приватности
        </div>

        <div class="create_content">

            <form method="post" id="settings" novalidate>
                {% csrf_token %}
                {% include 'includes/bootstrap4_form.html' with form=form_private %}
                <input name="type" class="d_none" value="settings">
                <button type="button" class="purple_custom_btn" id="save_profile_settings">Сохранить</button>
            </form>
            <div class="mtop-mbot20"><a class="prev_step" href="/accounts/password/change/">Смена пароля</a></div>
            <div class="mtop-mbot20"><a class="prev_step" href="/accounts/email/">Смена Email</a></div>
            <div class="mtop-mbot20"><a class="grey_text_btn" href="/accounts/logout/">Выйти из аккаунта</a></div>
        </div>
    </div>


    <script>
        let $gender = $('#id_gender'),
            $messages = $('#id_messages'),
            $invite = $('#id_invite');

        $gender.removeClass('form-control')
                .selectize()
                .siblings('.selectize-control')
                .css('padding-bottom', '15px');
        $messages.removeClass('form-control')
                .selectize()
                .siblings('.selectize-control')
                .css('padding-bottom', '15px');
        $invite.removeClass('form-control')
                .selectize()
                .siblings('.selectize-control')
                .css('padding-bottom', '15px');

        $.ajax({
            url: '/cities_/get_cities?no_need_ip=true',
            type: 'GET',
            success: function (data) {
                if (data) {
                    $('#select-state').html(data).selectize();
                } else {
                    // TODO заполнить error
                }
            }
        });

        $('#id_birth_date').datetimepicker({
            lang:'ru',
            timepicker:false,
            format: "d-m-Y",
            autoclose: true,
        });
    </script>
{% endblock %}