{% extends "main_template.html" %}

{% block title %}Редактирование профиля{% endblock %}

{% block content %}
    <div class="content">
        <form method="post" id="main_info" novalidate>
            {% csrf_token %}
            {% include 'includes/bootstrap4_form.html' with form=form %}
            <input name="type" class="d_none" value="main_info">
            <div class="form-group ">
                <select id="select-state" name="select_city" placeholder="Начните вводить...">
                </select>
            </div>
            <span class="confirm_edit"><p></p></span>
            <button type="button" class="purple_custom_btn" id="edit_profile_form">Сохранить</button>
        </form>
        <hr>
        Настройки приватности (Добавить подсказки при наведении)
        <form method="post" id="settings" novalidate>
            {% csrf_token %}
            {% include 'includes/bootstrap4_form.html' with form=form_private %}
            <input name="type" class="d_none" value="settings">
            <button type="button" class="purple_custom_btn" id="settings">Сохранить</button>
        </form>
        <p><a class="prev_step" href="/accounts/password/change/">Смена пароля</a></p>
        <p><a class="prev_step" href="/accounts/email/">Смена Email</a></p>
        <p><a class="btn btn-primary" href="/accounts/logout/">Выйти из аккаунта</a></p>
    </div>

    <script>
        let $gender = $('#id_gender');
        $gender.removeClass('form-control');
        $gender.selectize();
        $gender.siblings('.selectize-control').css('padding-bottom', '15px');

        $.ajax({
            url: '/cities_/get_cities?no_need_ip=true',
            type: 'GET',
            success: function (data) {
                if (data) {
                    $('#select-state').html(data).selectize();
                } else {
                    // TODO заполнить error
                }
            }
        });

        $('#id_birth_date').datetimepicker({
            lang:'ru',
            timepicker:false,
            format: "d-m-Y",
            autoclose: true,
        });
    </script>
{% endblock %}