{% extends "main_template.html" %}
{% load staticfiles %}

{% block content %}
    <div class="main_block">
        <div >
            <br>
            <form class="users_filter">
                <input type="text" name="name" placeholder="Начните вводить" class="find_users" >
            </form>
            <div class="content_paginator_users" data-url="/profile/view">
                <div class="infinite-container_users">
                    {% for item in items %}
                        <div class="infinite-item">
                            <a href="/profile/{{ item.user.id }}">
                                <img src="{{ item.user.profileavatar.mini_url }}" class="avatar_round">
                            </a>
                            <a class="username" href="/profile/{{ item.user.id }}"> {{ item.user.first_name }}  {{ item.user.last_name }} </a>
                            {% if action == 'context_menu' %}
                                <button class="add_to_friend" data-user_id="{{ item.user.id }}" data-action="remove">Отписаться</button>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                {% if items.has_next %}
                    <a class="infinite-more-link_users"
                       href="/profile/view?page={{ items.next_page_number }}">Загрузка
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/all_user_events.js' %}"></script>
{% endblock %}
