{% extends "main_template.html" %}
{% load staticfiles %}

{% block title %}Пользователи{% endblock %}

{% block content %}
    <div class="main_block groups_main_block">
        <form class="users_filter">
            <input type="text" name="value" placeholder="Начните вводить" class="find_users w70p find_input find_input" >
        </form>
        <div class="line position_rel birder_bottom_grey">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#panel1">Подписки</a></li>
                <li class="activate_panel2_users"><a data-toggle="tab" href="#panel2">Подписчики</a></li>
                <li class="activate_panel3_users"><a data-toggle="tab" href="#panel3">Все пользователи</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div id="panel1" class="tab-pane fade in active">
                <div class="content_paginator_subscribers content_pag" data-url="/profile/view_subscribers/">
                    <div class="infinite-container_subscribers infinite_cont">
                    </div>
                </div>
            </div>
            <div id="panel2" class="tab-pane fade">
                <div class="content_paginator_followers content_pag" data-url="/profile/view_followers/">
                    <div class="infinite-container_followers infinite_cont">
                    </div>
                </div>
            </div>
            <div id="panel3" class="tab-pane fade">
                <div class="content_paginator_users content_pag" data-url="/profile/view_all_users/">
                    <div class="infinite-container_users infinite_cont">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/all_user_events.js' %}"></script>
{% endblock %}
