{% extends "main_template.html" %}
{% load staticfiles %}

{% block content %}
    <div class="content">
        <div class="group_item" data-group_id="{{group.id}}" >
            <div class="avatar_image">
                <p>
                    <img src="{{ avatar.reduced_url }}" width="300px" height="200px" alt="{{ group.name }}">
                </p>
            </div>
            {% if roles.role == 'admin'%}
                <button class="change_avatar" data-url="/groups/change_avatar">Смена аватара</button><br>
                <button class="change_mini" data-url="/groups/change_mini">Смена миниатюры</button><br>
                <a href="/groups/edit/{{ group.id }}">Редактировать</a><br>
            {% else %}
                {% if roles.role == 'subscribers' or roles.role == 'editor' %}
                    <a href="/chats/?room={{ chat.id }}">Перейти к чату</a><br>
                    <button class="subscribe_group" data-action="remove">Выйти из группы</button><br>
                {% else %}
                    <button class="subscribe_group" data-action="add">Вступить в группу</button><br>
                {% endif %}
            {% endif %}
            {% if roles.role == 'admin' or roles.role == 'editor' %}
                <a href="/events/create?group_id={{ group.id }}">Создать событие</a><br>
            {% endif %}
        </div>

        <div>
            Название: {{ group.name }} <br>
            Описание: {{ group.description }}
        </div>

        <div>
            <span data-url="/profile/get_followers?user={{ user.id }}"
                  class="all_followers">Подписчики {{ members|length }}</span>
            <ul>
                {% for item in members %}
                    <div>
                        <a href="/profile/{{ item.person.user.id }}">
                            <img src="{{ item.person.user.profileavatar.mini_url }}" class="avatar_round">
                        </a>
                        <a href="/profile/{{ item.person.user.id }}">
                            {{ item.person.user.first_name }}  {{ item.person.user.last_name }}
                        </a>
                        {{ item.role }}
                    </div>
                {% endfor %}
            </ul>
        </div>

        <script>
            var id ={{ group.id }}, type ='detail'

        </script>
        <script type="text/javascript" src="{% static 'js/group_events.js' %}"></script>
        <div class="content_paginator">
        </div>
    </div>
    <div id="dialog_img" class="d_none"></div>
{% endblock %}