{% extends "main_template.html" %}
{% load staticfiles %}

{% block signin %}
{% endblock %}
{% block content %}
    <div class="content">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#panel1">Настройки группы</a></li>
            <li><a data-toggle="tab" href="#panel2">Управление подписчиками</a></li>
        </ul>

        <div class="tab-content" data-group_id="{{ group.id }}">
            <div id="panel1" class="tab-pane fade in active" >
                {% if account and account == user.id %}
                    <button class="change_avatar" data-url="/groups/change_avatar">Смена аватара</button>
                    <button class="change_mini" data-url="/groups/change_mini">Смена миниатюры</button>
                {% endif %}
                <form method="post" id="groups_form" novalidate>
                    {% csrf_token %}
                    {% include 'includes/bootstrap4_form.html' with form=form %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <button class="delete_group">Удалить группу</button>
            </div>
            <div id="panel2" class="tab-pane fade">
                Редакторы
                <div class="select_roles" data-group_id="{{ group.id }}">
                    <ul class="left_side_select_roles">
                        {% for item in left_side %}
                            <li data-id="{{ item.person.id }}">{{ item.person.user.first_name }} {{ item.person.user.last_name }}
                                <button class="add_to_subscriber">Разжаловать</button>
                                <button class="delete">Удалить из группы</button>
                            </li>
                        {% endfor %}
                    </ul>
                    <hr>
                    Список подписчиков
                    <input type="text" class="find_subscribers">
                    <ul class="right_side_select_roles">
                        {% for item in right_side %}
                            <li data-id="{{ item.person.id }}">{{ item.person.user.first_name }} {{ item.person.user.last_name }}
                                <button class="add_to_editor">Добавить редактора</button>
                                <button class="delete">Удалить из группы</button>
                            </li>
                        {% endfor %}
                    </ul>
                    <hr>
                    Список приглашенных
                    <ul class="invited">
                        {% for item in invited %}
                            <li data-id="{{ item.person.id }}">{{ item.person.user.first_name }} {{ item.person.user.last_name }}
                                <button class="cancel">Отменить приглашение</button>
                            </li>
                        {% endfor %}
                    </ul>
                    <hr>
                    Список отправивших запрос
                    <ul class="sends">
                        {% for item in sends %}
                            <li data-id="{{ item.person.id }}">{{ item.person.user.first_name }} {{ item.person.user.last_name }}
                                <button class="accept">Добавить</button>
                                <button class="cancel">Отклонить</button>
                            </li>
                        {% endfor %}
                    </ul>

                    Добавить в группу
                    <div class="add_users_autocomplete" style="border: solid black 2px"
                         data-id="{{ group.id }}" data-is_group="true">
                        <div class="added_users"></div>
                        <div class="subscribers"></div>
                        <button class="send_invitation">Отправить приглашения</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dialog_confirm" class="d_none">
    </div>
    <script>
        var type = ''
    </script>
    <script type="text/javascript" src="{% static 'js/group_events.js' %}"></script>
{% endblock %}