{% load chats_filters %}

{% for item in groups %}
    <div class="infinite-item_groups">
        <a href="/groups/{{ item.id }}">
            <img src="{{ item.groupavatar.mini_url }}" class="avatar_round">
        </a>
        <a class="username" href="/groups/{{ item.id }}">{{ item.name }}</a>
        <span>{{ item.status }} </span>
    <br>
        {% if is_my %}
            <label>Роль:</label>
            {{ item|ru_role:user.profile.id }}
        {% endif %}
    </div>
{% empty %}
    <div>У этого пользователя нет групп</div>
{% endfor %}

{% if groups.has_next %}
    <a class="infinite-more-link_groups"
       href="/groups/get_groups?page={{ groups.next_page_number }}&id={{ user.id }}"
       data_next_page_number="{{ groups.number }}">More
    </a>
{% endif %}
