{% load custom_filters %}

{% for group in groups %}
    <div class="infinite-group_groups line mtop-35 group_item" data-group_id="{{group.id}}">
        <a href="/groups/{{ group.id }}">
            <img src="{{ group.groupavatar.mini_url }}" class="sqr_avatar">
        </a>
        <div class="group_info">
            <div class="event_name"><a class="username" href="/groups/{{ group.id }}">{{ group.name }}</a></div>
            <div class="group_description">{{ group.status }} </div>
            <div class="group_members">Участников: {{ group.members.count }}</div> {# участники #}

            <div class="join_group">
                {% if group.id|is_subscribe_group:user %}
                    <button class="purple_custom_btn subscribe_group" data-action="remove">Отписаться</button>
                {% else %}
                    <button class="purple_custom_btn subscribe_group" data-action="add">Вступить</button>
                {% endif %}
            </div>
        </div>
        {% if is_my %}
            <label>Роль:</label>
            {{ group|ru_role:cur_user.profile.id }}
        {% endif %}
    </div>
{% empty %}
    <div>У этого пользователя нет групп</div>
{% endfor %}

{% if groups.has_next %}
    <a class="infinite-more-link_groups"
       href="/groups/get_groups?page={{ groups.next_page_number }}&id={{ cur_user.id }}"
       data_next_page_number="{{ groups.number }}">More
    </a>
{% endif %}
