body{
    color: #393E46;
}
.d_none {
    display: none;
}

.field_d_none {
    display: none!important;
}

.invalide {
    border: 1px solid red;
}

.invalide[type=radio] {
    outline: 1px solid red
}

button {
    font-size: 12px;
}
.avatar_round {
    width: 40px;
    height: 40px;
    border-radius: 100px; /* Радиус скругления */
    border: 1px solid black; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
}

.all_subscribers, .all_followers {
    cursor: pointer;
}

.ui-widget-overlay.ui-front {
    opacity: 0.75;
    filter: Alpha(Opacity=50);
    background-color: black;
}

div.content {
    width: 700px
}

input.content {
    width: 200px
}

#id_birth_date_day, #id_birth_date_month, #id_birth_date_year {
    width: 33%;
}

body {
    font: 12px Arial, sans-serif;
}

.uploader {
    display: block;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 500px;
    background: #F8F8F8;
    border: 2px dashed #e8e8e8;
}

.uploader_mini {
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 500px;
    background: #f3f3f3;
    border: 2px dashed #e8e8e8;
}

#id_load_image {
    position: absolute;
    width: 500px;
    height: 500px;
    top: -50px;
    left: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.uploader img {
    position: absolute;
    width: 500px;
    height: 500px;
    top: -1px;
    left: -1px;
    z-index: 1;
    border: none;
}

.rotate_buttons {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    z-index: 120;
    display: none;
}

#div_output_image, #div_output_image_mini {
    background: url('/static/svg/drag_and_drop.svg') 100% 200% no-repeat;
    background-position: center;
    background-size: 200px 200px;
    position: relative;
    height: 500px;
    width: 500px
}

.help_image_div {
    position: absolute;
    width: 500px;
    height: 500px;
    top: -1px;
    left: -1px;
    z-index: 2;
    border: none;
}

li.dialog_row {
    cursor: pointer;
}


#dialog_detail {
    background-color: white;
    color: black;
    height: 550px;
    width: 640px;
    overflow: scroll;
}

.dialogs {
    height: auto;
    overflow: scroll;
}

.main_block, .dialogs {
    width: 640px;
    margin: auto;
    background-color: white;
    color: black;
    min-height: 550px;
}

.form_to_messages {
    display: none;
}

.additional_block {
    display: none;
}

.back_to_dialogs {
    display: none;
}

.create_chat_wrapper {
    display: none;
}

.add_chat_wrapper {
    display: none;
}

.selected_message {
    background-color: #edf0f5;
}

.message {
    color: black
}

.date_create {
    color: rgba(120, 127, 140, 0.6);
}

.r_dialog_block {
    color: rgb(66, 100, 139);
}

.l_dialog_block, .r_dialog_block {
    margin: 10px;
}

.main_menu {
    padding-right: 45px;
    /*font-family: Roboto;*/
    font-size: 14px;
}

[class^="popup_header_menu"] {
    width: 15px;
}

.popup_menu_block {
    display: none;
    position: absolute;
    width: 238px;
    height: 300px;
    background: grey;
    font-size: 15px;
}

.popup_menu_block a{
    color: #393E46;
    text-decoration: none !important;
    padding-left: 49px;
}

.popup_menu_block div{
    margin-top: 25px;
}



.main_menu A {
    color: #393E46; /* Цвет ссылок */
    text-decoration: none !important;
}

.main_menu A:visited {
    color: #393E46; /* Цвет посещенных ссылок */
}

.main_menu A:active {
    color: #393E46;
}

.registrarion_button a {
    color: #7971EA !important;
}

.navbar {
    padding-top: 5px;
    min-height: 40px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #eeeeee;
}

.head_wrapper {
    /*display: inline-flex;*/
    width: 100%;
    max-width: 1170px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.main_logo {
    width: 57px;
    /*display: inline-block;*/
    color: #7971EA;
    margin-right: 140px;
    font-size: 20px;
}

.avatar_img_header {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.img_logo {
    width: 100%;
}

.auth_block_header {
    float: right;
    /*padding-top: 5px;*/
    width: 238px;
}

.auth_block_header .main_menu{
    padding-right: 15px;
}

.l_dialog_block {
    display: flex;
}

.r_dialog_block {
    display: flex;
}

.user_name {
    position: relative;
    top: 10px;
    left: 10px;
}

.message {
    width: 70%;
    float: left;
}

.message_block {
    border-bottom: 1px solid lightgray;
}

.date_create {
    width: 30%;
    float: right;
}

.date_create_dailogs {
    color: rgba(120, 127, 140, 0.6);
}

.unreaded_message {
    border-top: solid 1px #e7e8ec;
    background: #f5f7fa;
}

.is_my .unreaded_message {
    border-top: solid 1px #e7e8ec;
    background: red;
}

.delete_from_chat_wrapper {
    display: none;
}

.custom_select {
    display: inline-grid;
}

.custom_select_items {
    max-height: 100px;
    overflow: scroll;
}

.custom_select .selected {
    color: #7971EA!important;
}
.main_content_block{
    width: 950px;
    margin-top: 30px;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}

.avatar_image{
    width: 167px;
    position: relative;
}

.avatar_image img{
    width: 100%;
    border-radius: 50%;
}

img.change_avatar{
    position: absolute;
    width: 24px;
    right: 0;
    top: 21px;
}

.profile_info_block{
    /*margin-left: 70px;*/
    display: inline-flex;
    /*width: 100%;*/
    width: 671px;
    margin-left: auto;
    margin-right: auto;

}

.profile_info_block .block_info{
    margin-left: 60px;
    width: 435px;
}

.name_text{
    font-size: 24px;
    margin-right: 10px;
}

.city_settings_block{
    color: #7B7B7B;
    font-size: 14px;
    margin-top: 30px;
}

.settings_link{
    float: right;
}

.subscrbers_groups_events{
    display: flex;
    width: 100%;
    margin-top: 35px;
}

.subscrbers_groups_events span{
    width: 25%;
}

.subscrbers_groups_events p.header{
    color: #7971EA;
}


.right_info_user_block{
    margin-top: 25px;
}

.right_info_user_block p.header{
    color: #7B7B7B;
}

.fs16{
    font-size: 16px;
}

p {
    margin: 0;
}

.ta-l{
    text-align: left;
}

.user_events_block{
    width: 100%;
    margin-top: 40px;
}

.user_events_header{
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    color: #AAAAAA;
}

.user_events_header span.active_events, span.user_events{
    margin-right: 70px;
}
.user_events{
    /*text-align: center;*/
    width: 945px;
}

.event_info{
    width: 540px;
}

.header_event_info{
    width: 100%;
    margin-top: 30px;
    border-left: #7971EA 3px solid;
    height: 50px;
    padding-top: 13px;
}

.header_event_info .event_time{
    font-size: 20px;
    color: #7971EA;
    margin-right: 50px;
    margin-left: 45px;
    margin-top: 50%;
}

.header_event_info .event_date{
    font-size: 16px;
    color: #393E46;
}

.event_name{
    font-size: 24px;
    margin-left: 45px;
}

.event_name h1{
    font-size: 24px;
    max-width: 475px;
}

.event_description{
    font-size: 16px;
    color: #7B7B7B;
    margin-top: 20px;
    margin-left: 45px;
    height: 72px;
    overflow-y: hidden;
}

.event_location{
    font-size: 14px;
    color: #1A2C5B;
    margin-top: 34px;
    margin-left: 45px;
}

.creator_info{
    font-size: 14px;
    color: #1A2C5B;
    margin-top: 10px;
    margin-left: 45px;
}

.location_img{
    width: 18px;
}

.creator_avatar_img{
    width: 27px;
}

.location_icon{
    margin-right: 9px;
}

.creator_avatar{
    margin-right: 9px;
}

.event_stat_item{
    margin-right: 25px;
}

.event_stat_item img{
    width: 19px;
}

.stat_block{
    float: right;
}

.subscribe_info_block{
    margin-top: 30px;
    margin-left: 45px;
    margin-bottom: 36px;
}


.purple_custom_btn{
    width: 146px;
    height: 30px;
    background-color: #7971EA;
    border-radius: 15px;
    color: white;
}


.event_item_block{
    border: 1px solid #EEEEEE;
    display: -webkit-inline-box;
    margin-top: 15px;
}

.event_item_avatar_img{
    object-fit: cover;
    width: 360px;
    height: 390px;
}

.user_events_header ul.nav-tabs{
    border: none!important;
    margin-bottom: 20px;
}
.user_events_header li.active {
    border-bottom: 1px solid #7971EA;
}
.user_events_header li a{
    border: none!important;
    padding: 10px 22px;
}

.main_bidy_content{
    display: flex;
    width: 1170px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.main_scroll_block{
    width: 900px;
    margin-right: 20px;
}

.main_filter_block{
    width: 250px;
    background-color: #FCFCFC;
    max-height: 440px;
}

.main_search_input{
    border-radius: 15px;
    height: 19px;
    border: 1px solid #EEEEEE;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);; /* Параметры тени */
    padding-left: 15px;
}

.margin-b-25{
    background-color: white;
    min-height: 43px;
}

.main_custom_select{
    background: white;
    border: none;
    width: 225px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.width225_center{
    width: 225px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.main_filter_city_block_btn img{
    float: right;
}

.toogler_arrow{
    height: 43px;
    padding-left: 15px;
    padding-top: 15px;
}

.hide_area_filter{
    background-color: #F8F8F8;
    padding-top: 20px;
}

.find_city{
    width: 170px;
    border-radius: 15px;
    height: 19px;
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);; /* Параметры тени */
    padding-left: 15px;
}

.custom_select_city{
    width: 170px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}


.custom_select_city .custom_select_items{
    width: 150px;
    margin-left: 40%;
    transform: translate(-50%, 0);
    margin-top: 10px;
}
.accord_item_img{
    width: 15px;
}
.grey_custom_btn{
    height: 24px;
    width: 140px;
    border-radius: 15px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    border: none;
    background-color: #EEEEEE;
}

.event_detail_avatar{
    margin-right: 20px;
}

.event_detail_avatar img{
    width: 280px;
}

.d-flex{
    display: flex;
}

.event_info_detail{
    width: 567px;
}

.event_name_detail{
    margin-top: 17px;
    margin-bottom: 36px;
}

.event_description_detail{
    overflow-y: unset;
    height: unset;
}

.event_item_block_detail{
    border: unset;
    margin-top: unset;
}

.detail_map_event{
    height: 250px;
    margin-top: 10px;
}

.event_location_detail{
    margin-bottom: 10px;
}

.creator_avatar_detail img{
    width: 50px;
}

.subscribers_detail_block{
    margin-top: 30px;
}

.text_a_r{
    text-align: right;
}

.subscriber_item_detail img{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}
.subscriber_item_detail_add {
    width: 50px;
    height: 50px;
    background: #EEEEEE;
    border-radius: 25px;
}
.subscriber_item_detail_add span {
    position: relative;
    top: 17px;
    left: 14px;
    color: #7971EA;
}

.subscribers_detail_block{
    margin-left: 45px;
}

.f-s-15{
    font-size: 15px;
}

.subscribers_block_line{
    margin-top: 20px;
}

.subscriber_item_detail{
    width: 95px;
    text-align: center;
    margin-right: 50px;
}

.news_block{
    margin-top: 50px;
    margin-left: 45px;
    width: 522px;
}

.ui-dialog{
    z-index: 2000;
    border: unset!important;
}

.ui-corner-all{
    border-radius: unset!important;
    border: unset!important;
}

.black_bg{
    background-color: rgba(57, 62, 70, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    display: none;
}

.ui-dialog-titlebar .ui-dialog-titlebar-close{
    float: right;
    background: unset!important;
    margin-right: 15px;
}
.ui-dialog-titlebar{
    font-size: 16px;
    height: 50px;
    padding-top: 20px;
    padding-left: 50px;
}

.ui-dialog-titlebar span{
    height: 100%;
}

.ui-widget-content{
    border: unset!important;
    border-top: 1px solid #7971EA!important;
}


.ui-widget-content .content_paginator .find_people{
    width: 225px;
    height: 25px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.ui-widget-content .content_paginator .infinite-item{
    margin-bottom: 10px;
}
.ui-widget-content .content_paginator{
    margin-left: 50px;
}

.header_news_detail_title p{
    text-align: center;
    font-size: 20px;
    color: #7971EA;
    /*margin-left: 50%;*/
    /*transform: translate(-50%, 0);*/
    margin-bottom: 30px;
}

.add_news_icon{
    width: 23px;
}

.no_style_btn{
    background: white!important;
    border: none!important;
    margin-left: 5px;
}

.news-form label{
    display: none;
}
.news-form .form-group{
    margin-bottom: 0!important;
}
.news-form form{
    display: flex;
}
.news-form textarea{
    width: 485px;
    height: 38px;
    border-radius: 25px;
    border: 1px Solid white;
    box-shadow: 0px 5px 13px rgba(0,0,0,0.15);
}

.time_name_line{
    /*display: flex;*/
    margin-bottom: 20px;
}

.event_news .news_owner_name a{
    color: #393E46;
    font-size: 15px;
    text-decoration: none;

}
.news_date{
    color: #000000;
    font-size: 12px;
}
.event_news{
    width: 485px;
    margin-top: 40px;
}

.fl-r{
    float: right;
}

.news_description{
    font-size: 15px;
    color: #7B7B7B;
}

.news_item{
    margin-bottom: 50px;
}

.detail_category {
    color: #7B7B7B;
}

.city_label {
    margin-left: -7px;
}

.main_custom_select .selectize-dropdown {
    margin-left: 50%;
}

input, button {outline:none;}

.error_page {
    margin-left: 25%;
}
.purple_custom_btn a{
    color: white;
}
.main_filter_block .purple_custom_btn{
    margin-left: 20%;
    margin-bottom: 20px;
    margin-top: 45px;
}

.main_filter_block .selectize-input {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.main_filter_block .selectize-control.single .selectize-input:after {
    content: url('/static/img/chevronup.svg');
}
.selectize-dropdown .active {

    background-color: #7971EA;
    color: white;
}
.main_filter_block .city_label {
    color: #303030;
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
    -webkit-font-smoothing: inherit;
    position: absolute;
    top: 10px;
}
.z_index_selectize {
    z-index: 999;
}
.z_index_selectize_two {
    z-index: 998;
}
.signin_signup_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    background: url('/static/svg/background.svg') 100% 200% no-repeat;
    background-position: center;
    background-size: contain;
}
.signin_signup_content .logo {
    position: absolute;
    top: 0;
    margin-top: 2%;
}
.signin_signup_content .logo p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    color: #7971EA;
    margin-left: 25%;
}
.signin_signup_content .case_for_form {
    position: relative;
    top: 0;
    background-color: white;
    width: auto;
    min-width: 445px;
    min-height: 515px;
    height: auto;
}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: inherit;
    border: none;
    color: #7971EA;
}
.nav-tabs>li.active {
    border-bottom: 2px solid #7971EA;
}
.nav-tabs>li>a:hover {
    border-color: inherit;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: inherit;
    background-color: inherit;
}
.nav-tabs>li>a {
    border: none;
    font-size: 18px;
    color: #B5B5B5;
}
.nav-tabs>li.active>a {
    color: #7971EA;
    border-top: none;
    border-left: none;
    border-right: none;
}
.case_for_form .nav {
    position: relative;
    margin-left: 25%;
    margin-top: 10%;
}
.signin_signup_content form {
    position: relative;
    top: 0;
    margin-top: 10%;
    left: 72px;
    max-width: 300px;
}
.signin_signup_content form div {
    max-width: 300px;
}
.signin_signup_content form input {
    border-radius: 15px;
    height: 30px;
    border: 1px solid #EEEEEE;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding-left: 15px;
    margin-bottom: 30px;
}
.signin_signup_content .next_step{
    display: block;
    margin: 0 auto;
}
.signin_signup_content .signin, .forget_pass {
    display: block;
    margin: 0 auto;
}
.signin_signup_content .prev_step, .signup {
    display: none;
    margin: 0 auto;
}
.signin_signup_content .next_step, .prev_step, .forget_pass{
    text-decoration: underline;
    color: #7971EA;
    background-color: white;
    border: none;
    font-size: 19px;
}
.signin_signup_content form input::placeholder {
    color: #7971EA;
}
.signin_signup_content form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #7971EA;
}
.signin_signup_content form input::-moz-placeholder { /* Firefox 19+ */
    color: #7971EA;
}
.signin_signup_content form input:-ms-input-placeholder { /* IE 10+ */
    color: #7971EA;
}
.signin_signup_content form input:-moz-placeholder { /* Firefox 18- */
    color: #7971EA;
}
.is-invalid {
    border: 1px solid #a94442!important;
    margin-bottom: 15px!important;
}
.invalid-feedback {
    margin-bottom: 5px;
    color: #a94442;
}
.signin_signup_content .hr {
    width: 300px;
    left: 17%;
    position: relative;
    margin-top: 25px;
    border-bottom: 1px solid #EEEEEE;
}
#id_birth_date {
    background-image: url("/static/svg/calendar.svg");
    background-repeat: no-repeat;
    background-size: 18px, 50%;
    background-position: center right; /* legacy browser support */
    background-position: center right 10px, center right 38px;
}
.signin_signup_content .find_city {
    width: 300px;
}
/* Стили на кастомный селект */
.custom_select input{
    margin-bottom: 5px!important;
}
.custom_select_items {
    min-height: 100px;
    margin-left: 10px;
    background-color: #F8F8F8;
    margin-bottom: 10px;
}
.custom_select .select_item {
    display: block;
    height: 17px!important;
    font-size: 14px;
    margin-bottom: 1px;
}
/* Стили на кастомный селект */
.selectize-input.dropdown-active {
    -webkit-border-radius: 15px 15px 0 0!important;
    -moz-border-radius: 15px 15px 0 0!important;
    border-radius: 15px 15px 0 0!important;
}
.selectize-input {
    border: 1px solid #EEEEEE;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 15px;
    padding-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 30px;
}

.selectize-input .item {
    padding-top: 5px;
    padding-bottom: 5px;
}
#id_remember {
    display: inline-block;
    width: 30px;
    position: relative;
    top: 8px;
    margin-bottom: 10px;
}
#id_password {
    margin-bottom: 15px;
}
.signin_signup_content .form-group {
    font-size: 14px;
}
.social_providers {
    font-size: 14px;
    color: #B5B5B5;
    text-align: center;
}
.social_providers .soc_icons{
    margin-top: 15px;
    margin-bottom: 15px;
}
.social_providers a{
    padding-right: 8px;
}
.empty_news_item span{
    font-size: 16px;
    color: #7971EA;
}
.empty_news_item {
    text-align: center;
    padding-bottom: 30px;
}
.context-menu-item {
    font-size: 14px;
    padding-bottom: 5px;
}
.context-menu-hover {
    background-color: #7971EA!important;
}
.context-menu-one {
    background-color: #EEEEEE;
    border: none;
    border-radius: 12px;
    width: 40px;
    float: right;
    position: relative;
    bottom: 58px;
}
.event_info_detail h2{
    margin-left: 45px;
    font-size: 18px;
    color: #7971EA;
}

input {
    border-radius: 15px;
    height: 30px;
    border: 1px solid #EEEEEE;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding-left: 15px;
    margin-bottom: 30px;
}
h5 {
    text-align: center;
}
.to_second_step {
    display: none;
}
.to_second_step {
    display: none;
    position: relative;
    margin: 0 auto;
    top: 20px;
    margin-bottom: 30px;
}
#file_info {
    text-align: center;
    font-size: 15px;
}

.confirm_edit {
    font-size: 16px;
    color: #7971EA;
}
.error_news {
    margin-bottom: 10px;
    color: #a94442;
}
.cur_user_events_block {
    min-height: 500px;
}
.selectize-control.multi .selectize-input > div {
    top: -6px;
    border-radius: 15px;
    min-width: 100px;
}
.selectize-control.plugin-remove_button [data-value] .remove {
    border-left: none;
    color: #7971EA;
    height: 17px;
    top: 0px;
    right: 3px;
    font-size: 15px;
}
.rec_im img{
    width: 74px;
    height: 74px;
    padding: 7px;
}
.recommend_img .selected_img{
    border: 2px solid #7971EA!important;
    box-shadow: 0px 5px 13px rgba(0,0,0,0.15);
}
.recommend_img .rec_im {
    border: 1px solid #EEEEEE;
}
.event_avatar_block .image{
    float: left;
}
.event_avatar_block .images{
    display: inline-flex;
    margin-left: 21px;
}
.event_avatar_block .images .rec_im{
    margin-left: 11px;
}
.cat_name {
    color: #393E46;
    font-size: 14px;
    margin-left: 31px;
}
#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
}
#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}
.cat_name_div, .choose_button{
    display: inline-block;
}
.choose_button .purple_custom_btn {
    background-color: white;
    border: 1px solid #7971EA;
    color: #7971EA;
}
.choose_button {
    width: 302px;
    margin-left: 32px;
    margin-top: 10px;
}
.choose_button p{
    position: relative;
    top: -30px;
    width: 134px;
    left: 175px;
    font-size: 10px;
    color: #7B7B7B;
}

.column_1, .column_2, .column_3 {
    display: none;
}