
.d_none {
    display: none;
}
.field_d_none {
    display: none;
}
.invalide {
    border:1px solid red;
}
.invalide[type=radio]{
    outline: 1px solid red
}
button {
    font-size: 12px;
}

.profile_left {
    border: #003366 1px solid;
    border-radius: 5px;
}

.avatar_round {
    width: 40px;
    height: 40px;
    border-radius: 100px; /* Радиус скругления */
    border: 1px solid black; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
}
.all_subscribers, .all_followers {
    cursor: pointer;
}
.ui-widget-overlay.ui-front {
    opacity:0.75;
    filter: Alpha(Opacity=50);
    background-color: black;
}
div.content {
    width: 700px
}
input.content {
    width: 200px
}
#id_birth_date_day, #id_birth_date_month, #id_birth_date_year {
    width: 33%;
}
body {
    font: 12px Arial, sans-serif;
}

.uploader {
    position:relative;
    overflow:hidden;
    width:500px;
    height:500px;
    background:#f3f3f3;
    border:2px dashed #e8e8e8;
}

.uploader_mini {
    position:relative;
    overflow:hidden;
    width:500px;
    height:500px;
    background:#f3f3f3;
    border:2px dashed #e8e8e8;
}

#id_load_image{
    position:absolute;
    width:500px;
    height:500px;
    top:-50px;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
}

.uploader img{
    position:absolute;
    width:500px;
    height:500px;
    top:-1px;
    left:-1px;
    z-index:1;
    border:none;
}
.rotate_buttons {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    z-index: 120;
    display: none;
}
#div_output_image, #div_output_image_mini {
    position: relative;
    height: 500px;
    width: 500px
}
.help_image_div {
    position: absolute;
    width:500px;
    height:500px;
    top:-1px;
    left:-1px;
    z-index:2;
    border:none;
}
li.dialog_row {
    cursor: pointer;
}
.news-form {
    width: 700px;
}
#dialog_detail {
    background-color: white;
    color: black;
    height: 550px;
    width: 640px;
    overflow: scroll;
}
.dialogs {
    height: auto;
    overflow: scroll;
}
.main_block, .dialogs {
    width: 640px;
    margin: auto;
    background-color: white;
    color: black;
    min-height: 550px;
}
.form_to_messages {
    display: none;
}
.additional_block {
    display: none;
}
.back_to_dialogs {
    display: none;
}
.create_chat_wrapper {
    display: none;
}
.add_chat_wrapper {
    display: none;
}
.selected_message {
    background-color: #edf0f5;
}
.message {
    color: black
}
.date_create {
    color: rgba(120, 127, 140, 0.6);
}
.r_dialog_block {
    color: rgb(66, 100, 139);
}
.l_dialog_block, .r_dialog_block {
    margin: 10px;
}
.main_menu {
    padding-right: 20px;
}
.main_menu A {
    color: #cecece; /* Цвет ссылок */
}
.main_menu A:visited {
    color: #cecece; /* Цвет посещенных ссылок */
}
.main_menu A:active {
    color: #cecece;
}
.navbar {
    min-height: 25px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #eeeeee;
}
.head_wrapper{
    /*display: inline-flex;*/
    width: 100%;
    max-width: 1170px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.auth_block_header{
    float: right;
}

.l_dialog_block {
    display: flex;
}
.r_dialog_block {
    display: flex;
}
.user_name {
    position: relative;
    top: 10px;
    left: 10px;
}
.message {
    width: 70%;
    float: left;
}
.message_block {
    border-bottom: 1px solid lightgray;
}
.date_create {
    width: 30%;
    float: right;
}
.date_create_dailogs {
    color: rgba(120, 127, 140, 0.6);
}
.unreaded_message {
    border-top: solid 1px #e7e8ec;
    background: #f5f7fa;
}
.is_my .unreaded_message {
    border-top: solid 1px #e7e8ec;
    background: red;
}
.delete_from_chat_wrapper {
    display: none;
}

.custom_select {
    display: inline-grid;
}
.custom_select_items {
    display: inline-grid;
    max-height: 100px;
    overflow: scroll;
}
.custom_select .selected {
    color: red;
}
.is-invalid {
    border: 1px solid red;
}