<div class="CropImageModule_wrapper" data-url="{{ url }}" data-save_url="{{ save_url }}">
    <div class="uploader" >
        <div id='div_output_image'>
            <img id='output_image'/>
        </div>
        <div class="help_image_div"></div>
        <form id="uploadimages" name="uploadimages" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ image_file }}
        </form>
        <div class="rotate_buttons">
            <span class="rotate-left"><i class="fas fa-undo"></i></span>
            <span class="rotate-right"><i class="fas fa-redo"></i></span>
        </div>
    </div>
    <div><p id="file_info"></p></div>
    <button class="btn reset_" onclick="reset_all()">Выбрать другое</button>
    <button class="btn to_first_step" onclick="reset_all()">Назад</button>
    <button class="btn to_second_step">Далее</button>
    <div class="imgAreaSelect"></div>
</div>
<div class="imgareaselect_wrapper"></div>

<script>
    var $id_image = $('#id_image'),
        $reset_ = $('.reset_'),
        $to_first_step = $('.to_first_step'),
        url = $('.CropImageModule_wrapper').data('url'),
        save_url = $('.CropImageModule_wrapper').data('save_url'),
        orig_height,
        orig_width;

    $id_image.attr('accept', 'image/*');
    $reset_.hide();
    $to_first_step.hide();
</script>