{% extends "main_template.html" %}

{% block signin %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-3 profile_left">
            {% if account and account != user.id %}
                {# TODO Посмотреть, написать как-нибудь по другому #}
                <button class="add_to_friend" data-user_id="{{ user.id }}" data-action="{{ is_friend }}">
                    {% if friend_flag == 'add'%}
                        Отписаться
                    {% else %}
                        Подписаться
                    {% endif %}
                </button>
            {% endif %}
            <div class="avatar_image">
                <p>
                    <img src="{{ avatar.reduced_url }}" width="300px" height="200px">
                </p>
            </div>

             {% if account and account == user.id %}
                <button class="change_avatar" data-url="/profile/change_avatar">Смена аватара</button>
                <button class="change_mini" data-url="/profile/change_mini">Смена миниатюры</button>
                <a href="edit" class="btn btn-default">Настройки</a> <br>
            {% endif %}

            Полное имя {{ user.first_name }} {{ user.last_name }} <br>
            Email {{ user.email }} <br>
            Дата рождения {{ user.profile.birth_date }} <br>
            Описание {{ user.profile.description }} НЕОБЯЗАТЕЛЬНОЕ<br>
            Телефон {{ user.profile.phone }}  МБ ЕГО НЕОБЯЗАТЕЛЬНЫМ?<br>
            Гендерная принадлежность {{ user.profile.gender }} <br>

            <div>
                <span>Список всех пользователей</span>
                <ul>
                    {% for item in users %}
                        <li>
                            <a href="/profile/{{ item.id }}"> {{ item.first_name }}  {{ item.last_name }} </a>
                            <button class="add_to_friend"  data-user_id="{{ item.id }}" data-action="add">Подписаться</button>
                            {% if not item.profile  %}
                                !!!!
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <span data-url="/profile/get_subscribers?user={{ user.id }}"
                      class="all_subscribers">Подписки {{ friends|length }}</span>
                <ul>
                    {% for item in friends %}
                        <div>
                            <a href="/profile/{{ item.id }}">
                                <img src="{{ item.profileavatar.mini_url }}" class="avatar_round">
                            </a>
                            <a href="/profile/{{ item.id }}"> {{ item.first_name }}  {{ item.last_name }} </a>
                            {% if account and account == user.id %}
                                <button class="add_to_friend" data-user_id="{{ item.id }}" data-action="remove">Отписаться</button>
                            {% endif %}
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-9">Тут будут выводится события</div>
    </div>

    <div id="dialog" class="d_none">
        <div class="content_paginator">
        </div>
    </div>
    <div id="dialog_img" class="d_none">

    </div>
{% endblock %}