{% extends "main_template.html" %}

{% block signin %}
{% endblock %}
{% block content %}
    <div class="content">
        <form method="post" id="main_info" novalidate>
            {% csrf_token %}
            {% include 'includes/bootstrap4_form.html' with form=form %}
            <input name="type" class="d_none" value="main_info">
            <div class="form-group">
                <div id="location" class="custom_select">
                    <label>Город</label>
                    <input type="text" placeholder="поиск" class="find_city" >
                    <input type="hidden" name="select_city">
                    <div class="custom_select_items"></div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" id="edit_profile_form">Submit</button>
        </form>
        <hr>
        Настройки приватности (Добавить подсказки при наведении)
        <form method="post" id="settings" novalidate>
            {% csrf_token %}
            {% include 'includes/bootstrap4_form.html' with form=form_private %}
            <input name="type" class="d_none" value="settings">
            <button type="button" class="btn btn-primary" id="settings">Submit</button>
        </form>
        <p><a class="button secondaryAction" href="/accounts/password/change/">Смена пароля</a></p>
        <p><a class="button secondaryAction" href="/accounts/email/">Смена Email</a></p>
        Хотите выйти из аккаунта?
        <p><a class="btn btn-primary" href="/accounts/logout/">logout</a></p>
    </div>

    <script>
        $.ajax({
            url: '/profile/custom_fields_for_signup',
            type: 'POST',
            success: function (data) {
                if (data) {
                    $('.custom_select_items', '.custom_select').append(data);
                    $('[name="select_city"]', '.custom_select').val($('.selected', '.custom_select_items').html());
                } else {
                    // TODO заполнить error
                }
            }
        });

        $('#id_birth_date').datetimepicker({
            timepicker:false,
            format: "d-m-Y",
            autoclose: true,
        });
    </script>
{% endblock %}