{% extends "main_template.html" %}
{% load staticfiles%}

{% block content %}
    <button class="btn btn-grey"><a href="/main_app">Назад ко всем событиям</a></button>
    <div class="content">
        <form method="post" enctype="multipart/form-data" id="event_form_create" novalidate>
            {% csrf_token %}
            {% include 'includes/bootstrap4_form.html' with form=form %}
            <div class="form-group">
                <label>Категории(макс 3 категории)</label>
                <span id="categories" class="custom_multiply_select"></span><br>
                <div class="custom_multiply_select_items" style="display: inline-grid;">
                    {% for category in categories %}
                        <span class="multiply_select_item" data-categories_id="{{ category.id }}"
                              data-categories_description="{{ category.description }}">{{ category.name }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label>Город</label>
                <div id="location" class="custom_select">
                    <input type="text" placeholder="поиск" class="find_city">
                    <div class="custom_select_items">
                        <span class='select_item selected'
                              data-city_id="{{ user_city.city_id }}">{{ user_city.city }}</span>
                        {% for city in city_list %}
                            <span class="select_item" data-city_id="{{ city.city_id }}">{{ city.city }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Выберите место</label>
                <span class="select_bounds_yamaps"></span>
                <div id="map" style="width: 600px; height: 300px"></div>
            </div>
            {#            <button type="button" class="btn btn-primary select_photo_for_event">Выбрать фото</button>#}
            {#            <button type="button" class="btn btn-primary back_to_edit" style="display: none">Назад</button>#}
            <button type="submit" class="btn btn-primary publish" >Опубликовать</button>
        </form>

        <div class="event_avatar_block">
            <div style="width: 600px; height: 300px">
                <img class="event_avatar" src="/media/avatar_event_default/default.png" width="600px" height="300px">
            </div>
            {#      TODO Перенесешь потом  На колумны не вешай классы (column_1)   #}
            <style>
                .recommend_image_block {
                    display: flex;
                }
                .recommend_img {
                    padding-right: 20px;
                }
                .rec_im img{
                    width: 100px;
                    height: 80px;
                }
                .rec_im {
                    padding-bottom: 10px;
                    padding-top: 10px;
                }
                .recommend_image_block {
                    border: 1px solid red;
                }
                .recommend_img {
                    display: none;
                }

            </style>
            <div class="recommend_image_block" >
                <div class="column_1 recommend_img" category_name="" image_name="">
                    <span class="category_name_column_1"></span>
                </div>
                <div class="column_2 recommend_img" category_name="" image_name="">
                    <span class="category_name_column_2"></span>
                </div>
                <div class="column_3 recommend_img" category_name="" image_name="">
                    <span class="category_name_column_3"></span>
                </div>
            </div>
        </div>


        <button class="change_avatar image_editor" data-url="/profile/change_avatar">Смена аватара</button>
        <button class="change_mini image_editor" data-url="/profile/change_mini">Смена миниатюры</button>
        <div id="dialog_img" class="d_none"></div>
    </div>
    <script>
        var is_create = true,
            is_edit = false,
            is_view = true,
            event_map = false;
    </script>
    <script type="text/javascript" src="{% static 'js/yamap.js' %}"></script>

{% endblock %}