{% extends "main_template.html" %}
{% load staticfiles%}

{% block content %}
    <button class="btn btn-grey"><a href="/main_app">Назад ко всем событиям</a></button>
    <div class="content" style="padding-bottom: 200px;">
        <form method="post" enctype="multipart/form-data" id="event_form_create" novalidate>
            {% csrf_token %}
            {% include 'includes/bootstrap4_form.html' with form=form %}
            <div class="form-group">
                <select id="select-tools" name="categories" multiple>
                    <option value="" disabled selected>Выберите категории</option>
                    {% for category in categories %}
                        <option value="{{ category.description }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group ">
                <select id="select-state" name="select_city" placeholder="Начните вводить...">
                </select>
            </div>
            <div class="form-group">
                <label>Выберите место</label>
                <span class="select_bounds_yamaps"></span>
                <div id="map" style="width: 600px; height: 300px"></div>
            </div>
            <div>
                <input class="hidden event_item_avatar_img_hidden_input" name="image_string">
            </div>
            <div class="form-group">
                <div class="event_avatar_block">
                    <div class="image">
                        <img class="event_item_avatar_img" src="/media/avatar_event_default/default.jpg" width="600px" height="300px">
                    </div>

                    <div class="recommend_image_block" >
                        <div class="column_1 recommend_img">
                            <div class="cat_name_div">
                                <h6 class="category_name_column_1 cat_name">Досуг</h6>
                            </div>
                            <div class="images">
                            </div>
                        </div>
                        <div class="column_2 recommend_img">
                            <div class="cat_name_div">
                                <h6 class="category_name_column_2 cat_name">Досуг</h6>
                            </div>
                            <div class="images">
                            </div>
                        </div>
                        <div class="column_3 recommend_img">
                            <div class="cat_name_div">
                                <h6 class="category_name_column_3 cat_name">Досуг</h6>
                            </div>
                            <div class="images">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="choose_button">
                    <button class="purple_custom_btn change_avatar image_editor" type="button"
                            data-url="/profile/change_avatar"
                            data-not_for_save="true">Смена фото</button>
                    <p>Вы можете загрузить изображения в формате JPG или PNG</p>
                </div>
            </div>
            <button type="submit" class="purple_custom_btn publish" >Создать событие</button>
        </form>

        <div id="dialog_img" class="d_none"></div>
    </div>
    <script>
        var eventHandler = function(name) {
            return function () {
                get_default_images();
            }
        };

        $('#select-tools').selectize({
            maxItems: 3,
            plugins: ['remove_button'],
            persist: false,
            create: true,
            render: {
                item: function(data, escape) {
                    return '<div>"' + escape(data.text) + '"</div>';
                }
            },
            onBlur: eventHandler('onBlur'),
        });

        $.ajax({
            url: '/cities_/get_cities_for_event',
            type: 'GET',
            data: {
                'event_city': {{ user_city.city_id }}
            },
            success: function (data) {
                if (data) {
                    $('#select-state').html(data).selectize();
                } else {
                    // TODO заполнить error
                }
            }
        });

        $('#id_start_time').datetimepicker({
            timepicker: true,
            lang:'ru',
            minDate:0,
            step:10,
            minTime:0,
            format: "d-m-Y H:i",
            autoclose: true,
        });

        $('#id_end_time').datetimepicker({
            timepicker: true,
            lang:'ru',
            minDate:0,
            minTime:0,
            step:10,
            format: "d-m-Y H:i",
            autoclose: true,
        });

        let $active= $('#id_active');
        $active.removeClass('form-control');
        $active.selectize();
        $active.siblings('.selectize-control').css('padding-bottom', '15px');

        var is_create = true,
            is_edit = false,
            is_view = true,
            event_map = false;
    </script>
    <script type="text/javascript" src="{% static 'js/yamap.js' %}"></script>

{% endblock %}