{% extends "main_template.html" %}
{% load staticfiles %}
{% load custom_filters %}

{% block content %}
    <script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>
    <div class="main_bidy_content">
        {% if error == False %}
            <div class="main_scroll_block d-flex">
                <div class="event_detail_avatar">
                    <img src="{{ event.event_avatar.image.url }}" alt="{{ event.name }}">
                </div>

                <div class="event_item_block event_item_block_detail event_item infinite-item" data-event_id="{{event.id}}"
                     data-last_update="{{ event.last_update|date:"Y-m-d H:i:s" }}">
                    <div class="event_info_detail">

                    <span class="detail_category">Категории:
                        {% for item in categories %}
                            {{ item.name }}
                        {%  endfor %}
                    </span>
                        <div class="header_event_info">
                            <span class="event_time"></span>
                            <span class="event_date"></span>
                            <script>
                                transform_event_date_start_end("{{ event.start_time|date:"c" }}", "{{ event.end_time|date:"c" }}", "{{event.id}}");
                            </script>
                        </div>
                        <div class="event_name event_name_detail">
                            <h1>{{ event.name }}
                                {% if event.active == '2' %}
                                    (Закрытое)
                                {% endif %}
                            </h1>
                        </div>
                        {% if is_editor == True and user != False or is_creator == True and user != False %}
                            <button class="context-menu-one"><img src="/static/svg/points.svg"></button>
                        {% endif %}
                        <h2>Описание события</h2>
                        <div class="event_description event_description_detail">{{ event.description }}</div>

                        <div class="subscribe_info_block">
                            <span class="button_block">
                                {% if event.id|is_subscribe:request.user %}
                                    <button class="purple_custom_btn subscribe_event" data-action="unsubscribe">Отписаться</button>
                                {% else %}
                                    <button class="purple_custom_btn subscribe_event" data-action="subscribe">Присоединиться</button>
                                {% endif %}
                            </span>
                            <span class="stat_block">
                            <span class="event_stat_item">
                                <img {{ event.id|like:request.user }} class="event_stat_icon" alt="">
                                <span class="like_count">{{ event.id|likes }}</span>
                            </span>
                            <span class="event_stat_item">
                                <img src="/static/img/human.svg" class="event_stat_icon" alt="">  {{ event.members|count }}
                            </span>
                            <span class="event_stat_item">
                                <img src="/static/img/eye.svg" class="event_stat_icon" alt="">  {{ event.id|view }}
                            </span>
                            </span>
                        </div>

                        {# Вся работа с картой #}
                        {% if event.geo_point.name %}
                            <div class="event_location event_location_detail f-s-15">
                                <span class="location_icon">
                                    <img src="/static/img/map.svg" class="location_img" alt="">
                                </span>
                                {% if event.geo_point.name %}
                                    <span class="location_nameг select_bounds_yamaps">{{ event.geo_point.name }}</span>
                                {% endif %}
                                <div id="map" class="detail_map_event" ></div>
                                <script>
                                    var is_create = false,
                                        is_edit = false,
                                        is_view = true,
                                        event_map = false,
                                        geo_lat ='{{ event.geo_point.lat }}',
                                        geo_lng ='{{ event.geo_point.lng }}'
                                </script>
                                <script type="text/javascript" src="{% static 'js/yamap.js' %}"></script>
                            </div>

                        {% endif %}
                        {# Вся работа с картой #}

                        <div class="creator_info f-s-15">
                            {% if event.created_by_group %}
                                <span class="creator_avatar creator_avatar_detail">
                            <a href="/groups/{{ event.created_by_group_id }}">
                                <img src="{{ event.created_by_group.groupavatar.mini_url }}" class="creator_avatar_img">
                            </a>
                            </span>
                                <span class=""><a class="username" href="/groups/{{ event.created_by_group_id }}">
                                {{ event.created_by_group.name }}</a>
                            </span>
                            {% else %}
                                <span class="creator_avatar">
                            <a href="/profile/{{ event.creator_id_id }}">
                                <img src="{{ event.creator_id.profileavatar.mini_url }}" class="creator_avatar_img">
                            </a>
                            </span>
                                <span class="location_nameг">
                                <a href="/profile/{{ event.creator_id_id }}">
                                    {{ event.creator_id.first_name }} {{ event.creator_id.last_name }}
                                </a>
                            </span>
                            {% endif %}
                        </div>

                        <div class="subscribers_detail_block">
                            <div data-url="/events/get_subscribers?event={{ event.id }}" class=" f-s-15 see_all_event_subscribers text_a_r">Подписчики события</div>
                            <div class="subscribers_block_line d-flex f-s-15">
                                {% for item in subscribers|slice:":4" %}
                                    <div class="subscriber_item_detail">
                                        <a href="/profile/{{ item.person.user.id }}">
                                            <img src="{{ item.person.user.profileavatar.mini_url }}" class="avatar_round">
                                        </a>
                                        <br>
                                        <a href="/profile/{{ item.person.user.id }}"> {{ item.person.user.first_name }}<br>{{ item.person.user.last_name }} </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="news_block">
                            <div class="header_news_detail_title"><p>Новости события</p></div>
                            {# ФОРМА ДЛЯ СОЗДАНИЯ НОВОСТИ #}
                            {% if is_editor == True or is_creator == True %}
                                <div class="error_news"></div>
                                <div class="news-form">
                                    <form method="post" novalidate
                                          id="news_create_form"
                                          enctype="multipart/form-data"
                                          action="/events/create_news">
                                        {% csrf_token %}
                                        {% include 'includes/bootstrap4_form.html' with form=news_form %}
                                        <button type="submit" class="btn no_style_btn btn-primary"><img src="/static/svg/send.svg" alt=""
                                                                                                        class="add_news_icon"></button>
                                    </form>
                                </div>
                            {% endif %}
                            <div class="event_news">
                                {% if news %}
                                    {{ news }}
                                {% else %}
                                    <div class="empty_news_item">
                                        <span>У данного этого еще не появились новости</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div id="dialog" class="d_none">
                            <div class="content_paginator">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="dialog_confirm" data-event_id="{{ event.id }}"></div>
        {% else %}
            <div class="error_page">
                <h3 style="color: #7971EA">{{ event.name }}</h3>
                {% if not is_send_request %}
                    <h4>{{ error }}</h4>
                    <button class="purple_custom_btn event_send_request" data-event_id="{{ event.id }}">Отправить заявку</button>
                {% else %}
                    <h4>Заявка отправлена</h4>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <script>
        function textarea_resize(event, line_height, min_line_count)
        {
            var min_line_height = min_line_count * line_height;
            var obj = event.target;
            var div = document.getElementById('id_text');
            div.innerHTML = obj.value;
            var obj_height = div.offsetHeight;
            if (event.keyCode == 13)
                obj_height += line_height;
            else if (obj_height < min_line_height)
                obj_height = min_line_height;
            obj.style.height = obj_height + 'px';
        }



        /**
         * Контекстное меню
         *
         */
        $.contextMenu({
            selector: '.context-menu-one',
            trigger: 'left',
            callback: function(key, options) {
                switch(key) {
                    case 'send':
                        user_manager("/events/user_manager?event={{ event.id }}&type=send");
                        break;

                    case 'invite':
                        user_manager("/events/user_manager?event={{ event.id }}&type=invite");
                        break;

                    case 'edit':
                        window.location.replace('/events/edit/{{ event.id }}');
                        break;
                }
            },
            items: {
                {% if event.active == '2' %}
                    "send": {
                        name: "Приглашенные {{ event.id|ev_send }}",
                    },
                    "invite": {
                        name: "Запрос на подписку {{ event.id|ev_inv }}",
                    },
                    "sep1": "---------",
                {% endif %}
                "edit": {
                    name: "Настройки",
                }
            }
        });

    </script>
{% endblock %}