{% extends "main_template.html" %}
{% load staticfiles%}
{% block title %}Редактирование {{ event.name }}{% endblock %}

{% block content %}
    <button class="btn btn-grey"><a href="/">Назад ко всем событиям</a></button>
    <div class="create_content">
        <form method="post" enctype="multipart/form-data" id="event_form_edit" novalidate>
            {% csrf_token %}
            {% include 'includes/bootstrap4_form.html' with form=form %}
            <div class="form-group">
                <select id="select-tools" name="categories" multiple>
                    {% for category in selected_categories %}
                        <option value="{{ category.description }}" selected>{{ category.name }}</option>
                    {% endfor %}
                    {% for category in categories %}
                        <option value="{{ category.description }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group ">
                <select id="select-state" name="select_city" placeholder="Начните вводить...">
                </select>
            </div>
            <div class="form-group">
                <label>Выберите место</label>
                <span class="select_bounds_yamaps">{{ geo_point.name }}</span>
                <div id="map" style="width: 600px; height: 300px"></div>
            </div>
            <div>
                <input class="hidden event_item_avatar_img_hidden_input" name="image_string">
            </div>
            <div class="form-group">
                <div class="event_avatar_block">
                    <div class="image">
                        <img class="event_item_avatar_img" src="{{ event.event_avatar.image.url }}" alt="{{ event.name }}" width="600px" height="300px">
                    </div>

                    <div class="recommend_image_block" >
                        <div class="column_1 recommend_img">
                            <div class="cat_name_div">
                                <h6 class="category_name_column_1 cat_name">Досуг</h6>
                            </div>
                            <div class="images">
                            </div>
                        </div>
                        <div class="column_2 recommend_img">
                            <div class="cat_name_div">
                                <h6 class="category_name_column_2 cat_name">Досуг</h6>
                            </div>
                            <div class="images">
                            </div>
                        </div>
                        <div class="column_3 recommend_img">
                            <div class="cat_name_div">
                                <h6 class="category_name_column_3 cat_name">Досуг</h6>
                            </div>
                            <div class="images">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="choose_button">
                    <button class="purple_custom_btn change_avatar image_editor" type="button"
                            data-url="/profile/change_avatar"
                            data-not_for_save="true">Смена фото</button>
                    <p>Вы можете загрузить изображения в формате JPG или PNG</p>
                </div>
            </div>
            <button type="submit" class="purple_custom_btn big">Сохранить изменения</button>
        </form>

        <div id="dialog_img" class="d_none"></div>

        {% if active == '3' %}
            <button class="restore_or_delete_event" data-is_restore="true">Восстановить событие</button>
        {% else %}
            <button class="restore_or_delete_event" data-is_restore="false">Удалить событие</button>
        {% endif %}
    </div>

    <script>
        var eventHandler = function(name) {
            return function () {
                get_default_images();
            }
        };

        $('#select-tools').selectize({
            maxItems: 3,
            plugins: ['remove_button'],
            persist: false,
            create: true,
            render: {
                item: function(data, escape) {
                    return '<div>"' + escape(data.text) + '"</div>';
                }
            },
            onBlur: eventHandler('onBlur'),
        });

        var eventHandlerCity = function(name) {
            return function () {
                set_center_by_city_name($('.item', '.selectize-input').html());
            }
        };

        $.ajax({
            url: '/cities_/get_cities_for_event',
            type: 'GET',
            data: {
                'event_city': {{ user_city.city_id }}
            },
            success: function (data) {
                if (data) {
                    $('#select-state').html(data).selectize({
                        onBlur       : eventHandlerCity('onItemAdd'),
                    });
                } else {
                    // TODO заполнить error
                }
            }
        });


        $(document).ready(function() {
            let $start_time = $('#id_start_time'),
                $end_time = $('#id_end_time');
            $start_time.datetimepicker({
                value: SetTimeToUser_js_str($start_time.val()),
                timepicker: true,
                lang: 'ru',
                minDate: 0,
                step: 10,
                minTime: 0,
                format: "d-m-Y H:i",
                autoclose: true,
            });

            $end_time.datetimepicker({
                value: SetTimeToUser_js_str($end_time.val()),
                timepicker: true,
                lang: 'ru',
                minDate: 0,
                minTime: 0,
                step: 10,
                format: "d-m-Y H:i",
                autoclose: true,
            });

            $start_time.parent().find('.invalid-feedback').empty();
            $end_time.parent().find('.invalid-feedback').empty();
            $start_time.removeClass('is-invalid');
            $end_time.removeClass('is-invalid');
            get_default_images(false);
        });


        let $active= $('#id_active');
        $active.removeClass('form-control');
        $active.selectize();
        $active.siblings('.selectize-control').css('padding-bottom', '15px');

        var is_create = false,
            is_edit = true,
            is_view = false,
            geo_lat ='{{ geo_point.lat }}',
            geo_lng ='{{ geo_point.lng }}',
            event_map = false,
            city = '{{ user_city.city }}';
    </script>
    <script type="text/javascript" src="{% static 'js/yamap.js' %}"></script>

    <div id="dialog_confirm" data-event_id="{{ event.id }}"></div>
{% endblock %}