{% extends "main_template.html" %}
{% load staticfiles%}

{% block content %}
    <button class="btn btn-grey"><a href="/main_app">Назад ко всем событиям</a></button>
    <div class="content">
        <form method="post" enctype="multipart/form-data" id="event_form_edit" novalidate>
            {% csrf_token %}
            {% include 'includes/bootstrap4_form.html' with form=form %}
            <div class="form-group">
                <label>Категории</label>
                <span id="categories" class="custom_multiply_select">
                    {% for category in selected_categories %}
                        <span class="remove_categories" data-categories_id="{{ category.id }}"
                              data-categories_description="{{ category.description }}">{{ category.name }}</span>
                    {% endfor %}
                </span>
                <div class="custom_multiply_select_items" style="display: inline-grid;">
                    {% for category in categories %}
                        <span class="multiply_select_item" data-categories_id="{{ category.id }}"
                              data-categories_description="{{ category.description }}">{{ category.name }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label>Город</label>
                <div id="location" class="custom_select">
                    <input type="text" placeholder="Начните вводить" class="find_city" >
                    <div class="custom_select_items">
                        <span  class='select_item selected' data-city_id="{{ user_city.city_id }}">{{ user_city.city}}</span>
                        {% for city in city_list %}
                            <span class="select_item" data-city_id="{{ city.city_id }}">{{ city.city}}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Выберите место</label>
                <span class="select_bounds_yamaps">{{ geo_point.name }}</span>
                <div id="map" style="width: 600px; height: 300px"></div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        {% if active == '3' %}
            <button class="restore_or_delete_event" data-is_restore="true">Восстановить событие</button>
        {% else %}
            <button class="restore_or_delete_event" data-is_restore="false">Удалить событие</button>
        {% endif %}
    </div>

    <script>

        var is_create = false,
            is_edit = true,
            is_view = false,
            geo_lat ='{{ geo_point.lat }}',
            geo_lng ='{{ geo_point.lng }}',
            event_map = false;
    </script>
    <script type="text/javascript" src="{% static 'js/yamap.js' %}"></script>

    <div id="dialog_confirm" data-event_id="{{ id }}"></div>
{% endblock %}