{% extends "main_template.html" %}
{% load chats_filters %}
{% load staticfiles%}

{% block content %}
    <div class="main_block">
        <div class="messages_wrapper">
            <span class="back_to_dialogs">Ко всем диалогам</span>
        </div>
        <div class="dialogs" id="dialogs">
            <input type="text" class="find_dialogs" placeholder="Начните вводить название беседы">
            <input class="create_chat" type="button" value="Создать беседу">
            <div class="create_chat_wrapper">
                <div class="add_users_autocomplete">
                    <form class="create_chat_form">
                        <input type="text" name="dialog_name" placeholder="Введите название беседы" >
                        <div class="added_users"></div>
                        <div class="create_chat_form_subscribers"></div>
                    </form>
                </div>
                <input class="cancel" type="button" value="Отмена">
                <input class="submite" type="button" value="Создать">
            </div>
            <div class="d_none get_dialogs" data-url="/chats/get_dialogs"></div>
            <div class="content_paginator_chat"></div>
        </div>
        <script type="text/javascript" src="{% static 'js/dialog.js' %}"></script>

        {% if is_request %}
            <script>
                request_dialog({{ is_request }}, '{{ url_type }}');
            </script>
        {% endif %}
    </div>
{% endblock %}