{% load chats_filters %}

{% block content %}
    <div class="messages">
        <div class="form_to_messages">
            {% for room_member in room_members %}
                <div class="message_block" data-user_id="{{ room_member.id  }}">
                    <div class="l_dialog_block">
                        <a href="/profile/{{ room_member.id  }}">
                            <img src="{{ room_member.profileavatar.mini_url }}" class="avatar_round">
                        </a>
                    </div>
                    <div class="r_dialog_block">
                        {{ room_member|fullname }}
                        <div class="message"></div>
                    </div>
                    <div class="additional_block">
                        <input type="button" class="edit_message" value="Редактировать">
                        <input type="button" class="remove_message" value="Удалить">
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="dialog_detail">
            {% for message in messages %}
                <hr>
                <div class="message_block">
                    <div class="l_dialog_block">
                        <a href="/profile/{{ message|income_or_outgoing_id  }}">
                            <img src="{{ message|income_or_outgoing_image }}" class="avatar_round">
                        </a>
                    </div>
                    <div class="r_dialog_block">
                        {{ message|income_or_outgoing }}
                        <div class="message">
                            {{ message.text}}
                            {{ message.created }}
                        </div>
                        <div class="additional_block">
                            <input type="button" class="edit_message" value="Редактировать">
                            <input type="button" class="remove_message" value="Удалить">
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
        {% if peer|status == 200 %}
            <input id="chat-message-input" type="text" size="100"/><br/>
            <input id="chat-message-submit" type="button" value="Send"/>
        {% else %}
            <span>{{ peer|except_text }}</span>
        {% endif %}
        <script>
            {#TODO Сделать с этим что-нибудь #}
            var id, is_room;
            if ({{ peer_id_json }}) {
                id ={{ peer_id_json }};
                is_room = '';
            } else if ({{ room_id_json }}) {
                id = {{ room_id_json }};
                is_room = '_room';
            }


            var chatSocket = new WebSocket(
                'ws://' + window.location.host +
                '/ws/chats/' + id + is_room + '/');

            chatSocket.onmessage = function(e) {
                var data = JSON.parse(e.data),
                    status = data['message']['message'].status,
                    message = data['message']['message'].text,
                    {#time = data['message'].time,#}
                    user_id = data['message']['message'].user_id;

                if (status == 200) {
                    var message_block = $('[data-user_id='+user_id+']').clone().removeAttr('data-user_id').appendTo('#dialog_detail');
                    message_block.find('.message').text(message);
                } else {
                    $('#dialog_detail').append('<p class="error_message">' + message + '</p>')
                }

            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            $('#chat-message-submit').on('click', function(e) {
                var input = $('#chat-message-input'),
                    message = {
                        'peer_id': id,
                        'text': input.val(),
                        'is_edit': false,   // TODO заглушка
                        'is_room': is_room
                    };

                chatSocket.send(JSON.stringify({
                    'message': message
                }));

                input.val('');
            });
        </script>
    </div>
{% endblock %}