{% load custom_filters %}
<div class="infinite-container">
    {% for event in events %}
        <hr style="border-top: 1px solid #000;">
        <div class="event_item infinite-item" data-event_id="{{event.id}}" >
            Категории:
            {% for item in event.category.all %}
                {{ item.name }}
            {%  endfor %}
            <br>
            <a href="/events/{{ event.id }}">
                <img src="{{ event.event_avatar.reduced_url }}" class="avatar_round">
            </a>
            id:{{ event.id }}    <br>
            Название эвента: {{ event.name }}    <br>
            Описание эвента, оно пока без ограничений, режь на клиенте: {{ event.description }} <br>

            Местоположение эвента: <span>{{ event.geo_point.name }}</span><br>
            Количество участников: <span>{{ event.members|count }}</span>
            <br><br>
            {% if event %}
            {% endif %}
            <div>
                <a href="/profile/{{ event.creator_id_id }}">
                    <img src="{{ event.creator_id.profileavatar.mini_url }}" class="avatar_round">
                </a>
                <br>
                Информация о создателе: <br>
                FIRST name: {{ event.creator_id.first_name }} <br>
                LAST name: {{ event.creator_id.last_name }} <br>
            </div>

            {% if event.party_flag == 1 %}
                <button class="subscribe_event" data-action="unsubscribe">Отписаться</button>
            {% elif event.party_flag == 0 %}
                <button class="subscribe_event" data-action="subscribe">Пойти</button>
            {% endif %}
        </div>
    {% empty %}
        <p>There are no athletes. Only computer programmers.</p>
    {% endfor %}
</div>

{% if events.has_next %}
    <a class="infinite-more-link"
       href="/main_app/get_infinite_events?page={{ events.next_page_number }}">More
    </a>
{% endif %}