{% load custom_filters %}
{% load tz %}
<div class="infinite-container">
    {% for event in events %}
        <hr>
        <div class="event_item infinite-item" data-event_id="{{event.id}}"
             data-last_update="{{ event.last_update|date:"Y-m-d H:i:s" }}">

            Время:
            <div class="event_time">
            </div>
            Дата:
            <div class="event_date">
            </div>
            <script>
                transform_event_date_start_end("{{ event.start_time|date:"c" }}", "{{ event.end_time|date:"c" }}", "{{event.id}}");
            </script>
            <br>
            <br>
            Категории:
            {% for item in event.category.all %}
                {{ item.name }}
            {%  endfor %}
            <br>
            <a href="/events/{{ event.id }}">
                <img src="{{ event.event_avatar.reduced_url }}" class="avatar_round">
            </a>
            id:{{ event.id }}    <br>
            Название эвента: {{ event.name }}
            {% if event.active == '2' %}
                (Закрытое)
            {% endif %}
            <br>
            Описание эвента, оно пока без ограничений, режь на клиенте: {{ event.description }} <br>

            Местоположение эвента: <span>{{ event.geo_point.name }}</span><br>
            Количество участников: <span>{{ event.members|count }}</span>
            <br><br>

            {% if event.created_by_group %}
                <div>
                    <a href="/groups/{{ event.created_by_group_id }}">
                        <img src="{{ event.created_by_group.groupavatar.mini_url }}" class="avatar_round">
                    </a>
                    <a class="username" href="/groups/{{ event.created_by_group_id }}">{{ event.created_by_group.name }}</a>
                </div>
            {% else %}
                <div>
                    <a href="/profile/{{ event.creator_id_id }}">
                        <img src="{{ event.creator_id.profileavatar.mini_url }}" class="avatar_round">
                    </a>
                    <br>
                    Информация о создателе: <br>
                    FIRST name: {{ event.creator_id.first_name }} <br>
                    LAST name: {{ event.creator_id.last_name }} <br>
                </div>
            {% endif %}

            {% if event.id|is_subscribe:request.user %}
                <button class="subscribe_event" data-action="unsubscribe">Отписаться</button>
            {% else %}
                <button class="subscribe_event" data-action="subscribe">Пойти</button>
            {% endif %}
        </div>
    {% empty %}
        {% if get_page_url != 'groups' %}
            <p>Событий по заданному фильтру не найдено, но вы можете создать свое событие
            </p>
            <a href="/events/create"><button>Создать событие</button></a>
        {% endif %}
    {% endfor %}
</div>

{% if events.has_next %}
    {% if get_page_url == 'active' %}
        <a class="infinite-more-link_active"
           href="/main_app/active_user_events?page={{ events.next_page_number }}&id={{ id }}">More
        </a>
    {% elif get_page_url == 'ended' %}
        <a class="infinite-more-link_ended"
           href="/main_app/ended_user_events?page={{ events.next_page_number }}&id={{ id }}">More
        </a>
    {% elif get_page_url == 'user_events' %}
        <a class="infinite-more-link_user_events"
           href="/main_app/user_events?page={{ events.next_page_number }}&id={{ id }}">More
        </a>
    {% elif get_page_url == 'groups' %}
        <a class="infinite-more-link"
           href="/main_app/get_group_events?page={{ events.next_page_number }}&id={{ id }}">More
        </a>
    {% else  %}
        <a class="infinite-more-link"
           href="/main_app/get_infinite_events?page={{ events.next_page_number }}">More
        </a>
    {% endif %}
{% endif %}