<div class="infinite-container">
    {% for event in events %}
        <div class="event_item" data-event_id="{{event.event.id}}" >

            <a href="/events/{{ event.event.id }}">
                <img src="{{ event.event.event_avatar.mini_url }}" class="avatar_round">
            </a>
            {{ event.event.id }}    {{ event.event.name }}    {{ event.event.creator_id.user.first_name }}

            {% if event.party_flag == 1 %}
                <button class="subscribe_event" data-action="unsubscribe">Отписаться</button>
            {% elif event.party_flag == 0 %}
                <button class="subscribe_event" data-action="subscribe">Пойти</button>
            {% endif %}
        </div>
    {% empty %}
        <p>There are no athletes. Only computer programmers.</p>
    {% endfor %}
</div>

{% if numbers.has_next %}
    <a class="infinite-more-link"
       href="/main_app/get_infinite_events?page={{ numbers.next_page_number }}">More
    </a>
{% endif %}