{% extends "main_template.html" %}

{% block content %}

    <button class="btn btn-grey"><a href="/events/create">Создать событие</a></button>
    <h2>Список событий</h2>

    <form class="event_filter_block">
        <div>
            <label>Свободный поиск</label>
            <input type="text" name="name" placeholder="поиск" class="find_groups" >
        </div>
        <div>
            <label>Категория</label>
            <select id="category" name="category">
                <option value="">Все</option>
                {% for category in category_list %}
                    <option value="{{ category_id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label>Город</label>
            <div id="location" class="custom_select">
                <input type="text" placeholder="поиск" class="find_city" >
                {#  TODO: На релизе будет эта строка <option selected value="{{ user_city.city_id }}">{{ user_city.city}}</option>#}
                <div class="custom_select_items">
                    <span  class='select_item selected' data-city_id="{{ user_city.city_id }}">{{ user_city.city}}</span>
                    {% for city in city_list %}
                        <span class="select_item" data-city_id="{{ city.city_id }}">{{ city.city}}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div>
            <label>Дата начала</label>
            <select id="date">
                <option value="0">За все время</option>
                <option value="1">Сегодня</option>
                <option value="2">Завтра</option>
                <option value="3">На этой неделе</option>
                <option value="4">В этом месяце</option>
                <option value="5">В следующем месяце</option>
                <option value="6">Выбрать дату</option>
            </select>
        </div>
    </form>

    <button class="submit_event_filter">Найти</button>
    <div class="content_paginator_events"></div>

    <script>

        /**
         * Проброс токена CSRF во все запросы ajax
         *
         */
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }

                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });

        /**
         * Получение фильтра на дату
         * TODO Обдумать на досуге
         *
         */
        function get_date_to_filter(unindexed_array) {
            var start_date, end_date,
                date = $('#date').val(), now = new Date();
            if (date === "0") {
                // Показывать все
                return unindexed_array
            } else if (date === "1") {
                // Получение клиентского сегодня и завтра
                start_date = new Date();
                end_date = new Date();
                end_date.setDate(end_date.getDate()+1);
                end_date.setHours(0);
                end_date.setMinutes(0);
                end_date.setSeconds(0);
            } else if (date === "2") {
                // Получение клиентского завтра и послезавтра   Не работает
                start_date = new Date().setDate(now.getDate()+1);
                start_date.setHours(0);
                start_date.setMinutes(0);
                start_date.setSeconds(0);
                end_date = start_date.setDate(now.getDate()+1);
            } else if (date === "3") {
                // период - неделя
                var startDay = 1, d = now.getDay();
                start_date = new Date(now.valueOf() - (d<=0 ? 7-startDay:d-startDay)*86400000);
                end_date = new Date(start_date.valueOf() + 6*86400000);
            } else if (date === "4") {
                // период - месяц
                start_date = new Date(now.getFullYear(), now.getMonth(), 1);
                end_date = new Date(now.getFullYear(), now.getMonth() + 1, 0);
            } else if (date === "5") {
                // период - следующий месяц
                start_date = new Date(now.getFullYear(), now.getMonth() + 1, 1);
                end_date = new Date(now.getFullYear(), now.getMonth() + 2, now.getDay()-1);
            } else if (date === "6") {
                // датапикер

                end_date = new Date();
                end_date.setDate(end_date.getDate()+1);
                end_date.setHours(0);
                end_date.setMinutes(0);
                end_date.setSeconds(0);
            }

            unindexed_array.push({name: 'start_time', value: start_date});
            unindexed_array.push({name: 'end_time', value: end_date});
            return unindexed_array
        }

        find_events();

        function find_events() {
            var url = '/main_app/get_infinite_events';
            $.ajax({
                url: url,
                type: 'POST',
                data: get_event_filter('event_filter_block'),
                success: function (data) {
                    if (data) {
                        $('.content_paginator_events').html(data);
                        events_waypoints_init(get_event_filter('event_filter_block'));
                    } else {
                        // TODO заполнить error
                    }
                }
            });
        }

        /**
         * Получение выбранного в кастомном селекте
         *
         */
        function get_value_from_custom_select(parent_selector) {
            return parent_selector.find('.selected');
        }

        /**
         * Получение параметров фильтрации для POST запроса
         *
         */
        function get_event_filter(selector) {
            var unindexed_array = $('.'+selector).serializeArray(),
                indexed_array = {};

            unindexed_array = get_date_to_filter(unindexed_array);

            var location = get_value_from_custom_select($('#location'));
            unindexed_array.push({name: 'location', value: location.data('city_id')});

            $.map(unindexed_array, function(n, i){
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }

        $('.submit_event_filter').on('click', (e)=>{
            find_events();
        });

        /**
         * Инициализация плагина инфинити скролла, что-то вроде дата тейбла
         *
         */
        function events_waypoints_init(filter) {
            var infinite_ = new Waypoint.Infinite({
                element: $('.content_paginator_events')[0],
                more: '.infinite-more-link',
                items: '.event_item',
                reverse: false,
                post: true,
                filter: filter
            });
            return;
        }
    </script>

{% endblock %}