{% extends "main_template.html" %}

{% block content %}
    <button class="btn btn-grey"><a href="/events/create">Создать событие</a></button>
    <h2>Список событий</h2>

    <button class="last_events">Новые события</button>
    <button class="friends_events">События друзей</button>
    <button class="closest_events">События рядом</button>
    {% for event in events %}
        <div class="event_item" data-event_id="{{event.event.id}}" >

            <a href="/events/{{ event.event.id }}">
                <img src="{{ event.event.event_avatar.mini_url }}" class="avatar_round">
            </a>
            {{ event.event.id }}    {{ event.event.name }}    {{ event.event.creator_id.user.first_name }}

            {% if event.party_flag == 1 %}
                <button class="subscribe_event" data-action="unsubscribe">Отписаться</button>
            {% elif event.party_flag == 0 %}
                <button class="subscribe_event" data-action="subscribe">Пойти</button>
            {% endif %}
        </div>
    {% empty %}
        <p>There are no athletes. Only computer programmers.</p>
    {% endfor %}

{% endblock %}