{% extends "main_template.html" %}

{% block content %}
    <button class="btn btn-grey"><a href="/events/create">Создать событие</a></button>
    <h2>Список событий</h2>

    <button class="last_events">Новые события</button>
    <button class="friends_events">События друзей</button>
    <button class="closest_events">События рядом</button>
    <div class="event_filter_block">
        <select id="" class="event_filter_category">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>

        <button class="submit_event_filter">Фильтр</button>
    </div>
    <div class="content_paginator"></div>




    <script>
    draw_events(12);
    function draw_events(filter_data) {
        var url = '/main_app/get_infinite_events';
        $.ajax({
            url: url,
            data: filter_data,
            success: function (data) {
                $('.content_paginator').html(data);
                var infinite = new Waypoint.Infinite({
                    element: $('.infinite-container')[0]
                });
            }
        });
    }


    $('.submit_event_filter').on('click', ()=>{
        $category = $('.event_filter_block .event_filter_category').val();
        console.log($category);
        draw_events({'cat':$category});
    });

    </script>

{% endblock %}