{% extends "main_template.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="content">
        <h1>{% trans "Change Password" %}</h1>
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {% include 'includes/bootstrap4_form.html' with form=form %}
            <input name="type" class="d_none" value="main_info">
            <button type="submit" class="btn btn-primary" name="action">Submit</button>
        </form>
    </div>
{% endblock %}
