{% extends "main_template.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <h1>{% trans "Sign Up" %}</h1>
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
    <div class="content">
        <form method="post" novalidate method="POST" id="signup" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {% load widget_tweaks %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in form.visible_fields %}
                {% if field.help_text  %}
                    <div class={{ field.help_text }} >
                {% else %}
                    <div class='first_step' >
                {% endif %}
            {{ field.label_tag }}
            {% if form.is_bound %}
                {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field field class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field field class="form-control" %}
            {% endif %}
            </div>
            {% endfor %}

            <button type="button" class="next_step btn btn-primary">{% trans "next_step" %} &raquo;</button>
            <button type="button" class="prev_step d_none btn btn-primary">{% trans "prev_step" %} &raquo;</button>
            <button type="button" class="signup d_none btn btn-primary">{% trans "Signup" %} &raquo;</button>
        </form>
    </div>

{% endblock %}

