{% extends "main_template.html" %}

{% block signin %}
{% endblock %}
{% block content %}
    <button class="btn btn-grey"><a href="/main_app">Назад ко всем событиям</a></button>
    <div class="content">
        <form method="post" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'includes/bootstrap4_form.html' with form=form %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <hr>
{% endblock %}