{% extends "main_template.html" %}

{% block signin %}
{% endblock %}
{% block content %}
    <button class="btn btn-grey"><a href="/main_app">Назад ко всем событиям</a></button>
    <div data-event="{{ event.id }}" id="event_{{ event.id }}">
        <h1>Событие:</h1>
        <p><img src="{{ avatar.image.url }}" width="200px" height="200px"></p>
        Название: {{ event.name }}
        Создатель: {{ event.creator_id.first_name }}
        ВРЕМЯ С СЕРВЕРА ---- {{  event.start_time }} ------

        <div class="event_time">
            <script>
                SetTimeToUser("{{ event.start_time }}", "event_{{ event.id }}");
            </script>
        </div>

        {% if party_flag == 1 %}
            <button class="subscribe_event" data-action="unsubscribe">Отписаться</button>
        {% else %}
            <button class="subscribe_event" data-action="subscribe">Пойти</button>
        {% endif %}
        {% if is_creator == 1 %}
            <button data-action="editevent"><a href="/events/edit/{{ event.id }}">Настройки</a></button>
        {% endif %}

    </div>
    <div>
        Участники
        <ul>
            {% for item in subs %}
                <li>
                    <a href="/profile/{{ item.id }}">
                        <img src="{{ item.profileavatar.mini_url }}" class="avatar_round">
                    </a>
                    <a href="/profile/{{ item.id }}"> {{ item.first_name }}  {{ item.last_name }} </a>
                    <button class="add_to_friend"  data-user_id="{{ item.id }}" data-action="add">Подписаться</button>
                    {% if not item.profile  %}
                        !!!!
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}