{% extends "main_template.html" %}
{% load staticfiles%}

{% block content %}
    <button class="btn btn-grey"><a href="/main_app">Назад ко всем событиям</a></button>
    {% if error == False %}
        <script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>
        <div class="event_item" data-event_id="{{ event.id }}" id="event_{{ event.id }}" data-name="{{ event.name }}">
            <h1>Событие: {{ event.name }}</h1>

            Время:
            <div class="event_time">
            </div>
            Дата:
            <div class="event_date">
            </div>
            <script>
                transform_event_date_start_end("{{ event.start_time|date:"c" }}", "{{ event.end_time|date:"c" }}", "{{event.id}}");
            </script>
            <br>
            <br>

            <p><img src="{{ event.event_avatar.image.url }}" width="200px" height="200px"></p>
            {% if event.created_by_group %}
                <p>Создано от группы: {{ event.created_by_group.name }}</p>
            {% endif %}
            <script type="text/javascript">
                document.write(VK.Share.button(false,{type: "round", text: "Сохранить"}));
            </script>

            Категории:
            {% for item in categories %}
                {{ item.name }}
            {%  endfor %}
            <br>

            Описание: {{  event.description }} <br>
            Город: {{  event.location_name }} <br>

            Местоположение: {{  event.GEO }} <br>
            <br>

            {% if is_editor == True and user != False or is_creator == True and user != False %}
                <button data-action="editevent"><a href="/events/edit/{{ event.id }}">Настройки</a></button>
            {% else %}
                {% if party_flag == True %}
                    <button class="subscribe_event" data-action="unsubscribe">Отписаться</button>
                {% else %}
                    <button class="subscribe_event" data-action="subscribe">Пойти</button>
                {% endif %}
            {% endif %}

            <br>
            Создатель:
            {% if event.created_by_group %}
                <div>
                    <a href="/groups/{{ event.created_by_group_id }}">
                        <img src="{{ event.created_by_group.groupavatar.mini_url }}" class="avatar_round">
                    </a>
                    <a class="username" href="/groups/{{ event.created_by_group_id }}">{{ event.created_by_group.name }}</a>
                </div>
            {% else %}
                <div>
                    <a href="/profile/{{ item.person.id }}">
                        <img src="{{ event.creator_id.profileavatar.mini_url }}" class="avatar_round">
                    </a>
                    <br>
                    <a href="/profile/{{ item.person.id }}"> {{ event.creator_id.first_name }} {{ event.creator_id.last_name }} </a>
                </div>
            {% endif %}

        </div>

        {# Вся работа с картой #}
        {% if event.geo_point.name %}
            <div>
                <label>Место проведения</label>
                <span class="select_bounds_yamaps">{{ event.geo_point.name }}</span>
                <div id="map" style="width: 600px; height: 200px"></div>
                <script>
                    var is_create = false,
                        is_edit = false,
                        is_view = true,
                        event_map = false,
                        geo_lat ='{{ event.geo_point.lat }}',
                        geo_lng ='{{ event.geo_point.lng }}'
                </script>
                <script type="text/javascript" src="{% static 'js/yamap.js' %}"></script>
            </div>
        {% endif %}
        {# Вся работа с картой #}


        <div>
            <span data-url="/events/get_subscribers?event={{ event.id }}" class="see_all_event_subscribers">Подписчики события</span>
            {% for item in subscribers %}
                <div>
                    <a href="/profile/{{ item.person.id }}">
                        <img src="{{ item.person.user.profileavatar.mini_url }}" class="avatar_round">
                    </a>
                    <br>
                    <a href="/profile/{{ item.person.id }}"> {{ item.person.user.first_name }}  {{ item.person.user.last_name }} </a>
                </div>
            {% endfor %}
        </div>


        {# ФОРМА ДЛЯ СОЗДАНИЯ НОВОСТИ #}
        {% if is_editor == True or is_creator == True %}
            <span class="error_news"></span>  {# TODO Это для ошибок при создании новостей #}
            <div class="news-form">
                <form method="post" novalidate
                      id="news_create_form"
                      enctype="multipart/form-data"
                      action="/events/create_news">
                    {% csrf_token %}
                    {% include 'includes/bootstrap4_form.html' with form=news_form %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        {% endif %}
        {# ФОРМА ДЛЯ СОЗДАНИЯ НОВОСТИ #}


        <div class="hidden templates_to_news">
            <a class="user" href="/profile/{{ user.id }}"> {{ user.first_name }}  {{ user.first_name }} </a>
            <a class="group" href="/profile/{{ user.id }}"> {{ user.first_name }}  {{ user.first_name }} </a>
            <p class="time">Дата создания: </p>
        </div>
        <ul class="event_news">
            {{ news }}
        </ul>

        <div id="dialog" class="d_none">
            <div class="content_paginator">
            </div>
        </div>

        <div id="dialog_confirm" data-event_id="{{ event.id }}"></div>
    {% else %}
        <br><span>{{ error }}</span>
    {% endif %}
{% endblock %}