    {% load staticfiles%}



    <script type="text/javascript" src="{% static 'js/plagins/jquery.datetimepicker.js' %}"></script>
    <!--Тут много хлама, по итогу удалить ненужные -->
    <script type="text/javascript" src="{% static 'js/plagins/jquery-ui.js' %}"></script>
    <script src="{% static 'js/plagins/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/plagins/infinite.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plagins/jquery.imgareaselect.pack.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plagins/jquery.rotate.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/crop_and_resize_image.js' %}"></script>


