    {% load staticfiles%}


    <script type="text/javascript" src="{% static 'js/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/jquery.datetimepicker.js' %}"></script>
    <!--Тут много хлама, по итогу удалить ненужные -->
    <script type="text/javascript" src="{% static 'js/jquery/jquery-ui.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>

</body>
</html>
