<!-- Главное меню -->
Это хидер
{% load staticfiles %}
{% load bootstrap3 %}
<script src="{% bootstrap_jquery_url %}"></script>
{% bootstrap_javascript %}
{% bootstrap_css %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" media="all" href={% static "css/style.css" %} type="text/css">
<link rel="stylesheet" media="all" href={% static "css/plagins/jquery.datetimepicker.css" %} type="text/css">
<link rel="stylesheet" media="all" href={% static "css/plagins/jquery-ui.css" %} type="text/css">
<link rel="stylesheet" media="all" href={% static "css/plagins/jquery-ui.theme.css" %} type="text/css">
<link rel="stylesheet" type="text/css" href={% static "css/plagins/imgareaselect-default.css" %} />

<script type="text/javascript" src="{% static 'js/plagins/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plagins/jquery.mask.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<!-- Главное меню -->
<ul>
    {% load menubuilder %}
    {% menu main_menu %}

    {% for item in menuitems %}
        <li {% if item.current %}class="active"{% endif %}>
            <a href="{{ item.url }}" title="{{ item.title|escape }}">{{ item.title }}</a>
        </li>
    {% endfor %}
</ul>
<!-- Главное меню -->

Конец хидера