{% extends "base.html" %}

{% block main %}
    {% block main_col %}
        <div class="black_bg"></div>
        <header class="navbar navbar-fixed-top__">
            <div class="head_wrapper">
                <!-- Главное меню -->
                {% load menubuilder %}
                {% menu main_menu %}
                <span class="main_logo">JoinMe</span>
                {% for item in menuitems %}
                    <span class="main_menu" {% if item.current %}class="active"{% endif %}>
                        <a href="{{ item.url }}" title="{{ item.title|escape }}">{{ item.title }}</a>
                    </span>
                {% endfor %}
                <!-- Главное меню -->

                <!-- Блок с информацией о пользователе -->
                {% block signin %}
                    <span class="auth_block_header">
                        {% if user.is_authenticated %}
                            <span class="main_menu">
                                <a href="/profile/"><img class="avatar_img_header"
                                                         src="/media/{{ user.profileavatar.image }}" alt=""></a>
                            </span>
                            <span class="main_menu">
                                <a href="/profile/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a>
                            </span>
                            <img src="../static/img/chevrondown.svg" class="popup_header_menu_down" alt="">
                            <img src="../static/img/chevronup.svg" class="popup_header_menu_up d_none" alt="">
                        {% else %}
                            <span class="main_menu">
                                <a href="/accounts/login/">Войдите</a>
                            </span>
                            <span class="main_menu registrarion_button">
                                <a href="/accounts/signup/">Или зарегестрируйтесь</a>
                            </span>
                        {% endif %}

                        <div class="popup_menu_block">
                            {% menu side_menu %}
                            {% for item in menuitems %}
                                <div class="" {% if item.current %}class="active"{% endif %}>
                                    <a href="{{ item.url }}" title="{{ item.title|escape }}">{{ item.title }}</a>
                                </div>
                            {% endfor %}

                        </div>

                    </span>
                {% endblock %}
                <!-- Блок с информацией о пользователе -->
            </div>
        </header>
    {% endblock %}
    {% block content %}
    {% endblock %}
{% endblock %}





