{% extends "base.html" %}

{% block main %}
    {% block main_col %}
        <header class="navbar navbar-fixed-top">
            <!-- Блок с информацией о пользователе -->
            {% block signin %}
                <div>
                    {% if user.is_authenticated %}
                        <a href="/profile/{{ user.id }}">Аккаунт</a>
                        First name  : {{ user.first_name }} <br>
                        Last name: {{ user.last_name }} <br>
                        City: {{ locate.city }} <br>
                        <a href="/accounts/logout/">logout</a>
                    {% else %}
                        {% if request.path != '/profile/signin/' %}
                            <a href="/accounts/login/">Войдите</a><br>
                        {% endif %}
                        {% if request.path != '/profile/signup/' %}
                            <a href="/accounts/signup/">Или зарегестрируйтесь</a>
                        {% endif %}
                    {% endif %}
                </div>
            {% endblock %}
            <!-- Блок с информацией о пользователе -->
        </header>
    {% endblock %}
    {% block content %}
    {% endblock %}
{% endblock %}





